{{>_defs}}
<header class="header">
    <div class="left-col">
        <a href="/" class="logo">
            <span>Primary Kitchen</span>
            <img src="images/pk-logo.svg" alt="Primary Kitchen">
        </a>
    </div>
    <div class="right-col">
        <a href="#" class="dealer-login"><span>Dealer Login</span></a>
        <a href="/home.html" class="return-home"><span>Return Home</span></a>
        <div class="button-container">
            <button id="hamburger" class="hamburger" aria-expanded="false" aria-controls="menu" aria-label="Open Menu">
                <span>Toggle Menu</span>
                <svg width="51px" height="26px" viewBox="0 0 51 26" version="1.1" class="open">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                        <g transform="translate(-1339.000000, -50.000000)" stroke="#3D4147">
                            <g transform="translate(1340.000000, 50.500000)">
                                <path d="M24.3421053,-11.9161729 L24.3421053,36.7680376"
                                      transform="translate(24.342105, 12.425932) rotate(-90.000000) translate(-24.342105, -12.425932) "></path>
                                <path d="M24.3421053,-23.5230045 L24.3421053,25.161206"
                                      transform="translate(24.342105, 0.819101) rotate(-90.000000) translate(-24.342105, -0.819101) "></path>
                                <path d="M24.3421053,-0.309341234 L24.3421053,48.3748693"
                                      transform="translate(24.342105, 24.032764) rotate(-90.000000) translate(-24.342105, -24.032764) "></path>
                            </g>
                        </g>
                    </g>
                </svg>

                <svg width="37px" height="35px" viewBox="0 0 37 35" class="close">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                        <g transform="translate(-1346.000000, -45.000000)" stroke="#FFFFFF">
                            <g transform="translate(1364.500000, 63.000000) rotate(45.000000) translate(-1364.500000, -63.000000) translate(1340.000000, 38.000000)">
                                <path d="M24.3421053,0.476995469 L24.3421053,49.161206" id="Line-2-Copy" transform="translate(24.342105, 24.819101) rotate(-90.000000) translate(-24.342105, -24.819101) "></path>
                                <path d="M24.3421053,0.476995469 L24.3421053,49.161206" id="Line-2-Copy-3"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </button>
        </div>
    </div>
    <div id="menu">
        <div class="background"></div>
        <div id="menu-container" class="menu-container">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="/home.html" class="nav-item" tabindex="-1">
                            <div class="iframe-container">
                                <iframe src="" data-iframe-src="home.html" title="homepage landing screenshot"></iframe>
                                <div class="iframe-overlay"></div>
                            </div>
                            <h2>Homepage</h2>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/about.html" class="nav-item" tabindex="-1">>
                            <div class="iframe-container">
                                <iframe src="" data-iframe-src="about.html" title="about landing screenshot"></iframe>
                                <div class="iframe-overlay"></div>
                            </div>
                            <h2>About</h2>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/products.html" class="nav-item" tabindex="-1">>
                            <div class="iframe-container">
                                <iframe src="" data-iframe-src="products.html" title="products landing screenshot"></iframe>
                                <div class="iframe-overlay"></div>
                            </div>
                            <h2>Products</h2>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/contact.html" class="nav-item" tabindex="-1">>
                            <div class="iframe-container">
                                <iframe src="" data-iframe-src="contact.html" title="contact landing screenshot"></iframe>
                                <div class="iframe-overlay"></div>
                            </div>
                            <h2>Contact</h2>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/where-to-buy.html" class="nav-item" tabindex="-1">>
                            <div class="iframe-container">
                                <iframe src="" data-iframe-src="where-to-buy.html" title="where to buy landing
                                screenshot"></iframe>
                                <div class="iframe-overlay"></div>
                            </div>
                            <h2>Where to Buy</h2>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/default.html" class="nav-item" tabindex="-1">>
                            <div class="iframe-container">
                                <iframe src="" data-iframe-src="default.html" title="general template landing
                                screenshot"></iframe>
                                <div class="iframe-overlay"></div>
                            </div>
                            <h2>General Template</h2>
                        </a>
                    </div>
                </div>
                <div class="swiper-scrollbar"></div>
                <div class="swiper-navigation">
                    <div class="swiper-navigation-inner">
                        <button class="swiper-button-prev" tabindex="-1">>
                            <span>Prev</span>
                            <img src="images/swiper-arrow.svg" alt="Previous Menu Link">
                        </button>
                        <button class="swiper-button-next" tabindex="-1">>
                            <span>Next</span>
                            <img src="images/swiper-arrow.svg" alt="Next Menu Link">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>