//
// Name:            Animations
//
// Description:     Contains all animation styles
//

// ========================================================================
// Component: Animations
// ========================================================================
@keyframes redUnderline {
  0% {
    width: 100%;
  }

  50% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(-80%, 0, 0);
  }
}