//
// Name:            Base
//
// Description:     Contains all base styles, including basic resets
//
// ========================================================================
// Component
// ========================================================================
body {
  background: $color-white;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  @include font-europa-regular;
  font-size: 16px;
  line-height: 24px;

  &.no-scroll {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

.row {
  margin: 0;
  padding: 0;
}