//
// Name:            Forms
//
// Description:     Contains all form styles
//
// ========================================================================
// Component: Form
// ========================================================================
fieldset {
  border: none;
  margin-top: 0;
  padding: 0;
}

label {
  font-size: 14px;
  font-weight: 400;
  color: $dark_gray;
  letter-spacing: 0;
  line-height: 32px;
  text-transform: uppercase;
}

input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
textarea {
  width: 100%;
  max-height: 200px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid $color-black;
  color: $dark_gray;
  letter-spacing: 0;
  line-height: 32px;
  padding: 10px;
}

.selectric-wrapper {
  .selectric {
    font-size: 16px;
    font-weight: 400;
    background: none;
    border: 1px solid $color-black;
    color: $dark_gray;
    letter-spacing: 0;
    line-height: 32px;
    padding: 7px 10px;

    .label {
      font-size: 16px;
      font-weight: 400;
      color: $dark_gray;
      letter-spacing: 0;
      line-height: 32px;
      margin-left: 0;
    }

    .button {
      width: 52px;
      height: 100%;
      background: none;
      border-left: 1px solid $color-black;

      &:after {
        border-top: 10px solid $color-black;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
    }
  }

  .selectric-items {
    background: $color-white;

    li {
      font-size: 16px;
      font-weight: 400;
      color: $dark_gray;
      letter-spacing: 0;
      line-height: 32px;
      padding: 7px 10px;

    }
  }
}

.gform_wrapper {
  form {
    .gform_body {
      .gform_fields {
        list-style: none;
        padding: 0;

        .gfield {
          margin-top: 30px;
          padding: 0 8px 8px;

          label {
            font-size: 14px;
            font-weight: 400;
            color: $dark_gray;
            letter-spacing: 0;
            line-height: 32px;
            text-transform: uppercase;
          }

          .ginput_container {
            input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
            textarea {
              width: 100%;
              max-height: 200px;
              font-size: 16px;
              font-weight: 400;
              border: 1px solid $color-black;
              color: $dark_gray;
              letter-spacing: 0;
              line-height: 32px;
              padding: 10px;
            }

            .selectric-wrapper {
              .selectric {
                font-size: 16px;
                font-weight: 400;
                background: none;
                border: 1px solid $color-black;
                color: $dark_gray;
                letter-spacing: 0;
                line-height: 32px;
                padding: 7px 10px;

                .label {
                  font-size: 16px;
                  font-weight: 400;
                  color: $dark_gray;
                  letter-spacing: 0;
                  line-height: 32px;
                }

                .button {
                  width: 52px;
                  height: 100%;
                  background: none;
                  border-left: 1px solid $color-black;

                  &:after {
                    border-top: 10px solid $color-black;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                  }
                }
              }

              .selectric-items {
                background: $color-white;

                li {
                  font-size: 16px;
                  font-weight: 400;
                  color: $dark_gray;
                  letter-spacing: 0;
                  line-height: 32px;
                  padding: 7px 10px;

                }
              }
            }

            span {
              width: 100%;
              margin-top: 30px;

              &:first-child {
                margin-top: 0;
              }

              &.name_first,
              &.name_last {
                width: 45%;
              }

              &.address_city {
                width: 43%;
                margin-right: 5%;
              }

              &.address_state {
                width: 22%;
                margin-right: 5%;
              }

              &.address_zip {
                width: 25%;
              }
            }

            &.has_city.has_state.has_zip,
            &.has_first_name.has_last_name {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
            }

            &.has_first_name.has_last_name {
              span {
                margin-top: 0;
              }
            }

            &.active {
              input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
              textarea,
              .selectric-wrapper .selectric {
                border: 2px solid $color-black;
              }
            }

            &.ginput_container_address,
            &.ginput_container_name {
              span {
                &.focus {
                  position: relative;

                  &:before {
                    content: '';
                    width: calc(100% + 16px);
                    height: calc(100% + 8px);
                    background: $lt-green;
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: -8px;
                    z-index: -1;
                  }
                }

                &.active {
                  input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
                  textarea,
                  .selectric-wrapper .selectric {
                    border: 2px solid $color-black;
                  }
                }
              }
            }
          }

          &.focus {
            background: $lt-green;
          }
        }
      }
    }

    .gform_footer {
      background: none;
      border: none;
      cursor: pointer;
      display: inline-block;
      margin-top: 30px;
      position: relative;
      padding-bottom: 8px;
      -webkit-appearance: none;

      &:before {
        content: '';
        width: 100%;
        height: 1px;
        background: $red;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      input[type=submit] {
        font-family: $schnyder;
        font-size: 24px;
        font-weight: 400;
        background: none;
        border: none;
        cursor: pointer;
        -webkit-appearance: none;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover,
        &:focus {
          &:before {
            animation: redUnderline 1.5s ease-in-out;
          }
        }
      }
    }
  }

  &.gform_validation_error {
    li.gfield_error {
      .ginput_container {
        position: relative;

        &:before {
          content: '';
          width: 10px;
          height: 10px;
          background: $red;
          border-radius: calc(50% + 10px);
          display: inline-block;
          position: absolute;
          top: 50%;
          left: -21px;
          transform: translateY(-50%);
        }
      }
      &.ginput_container_address,
      &.ginput_container_name {
        &:before {
          display: none;
        }

        span {
          position: relative;

          &:before {
            content: '';
            width: 10px;
            height: 10px;
            background: $red;
            border-radius: calc(50% + 10px);
            display: inline-block;
            position: absolute;
            top: 50%;
            left: -15px;
            transform: translateY(-50%);
          }
        }
      }

      .gfield_description {
        color: $red;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}

html.ie {
  .gform_wrapper form .gform_footer:hover:before,
  .gform_wrapper form .gform_footer:focus:before {
    animation: redUnderline 2s ease-in-out;
  }
}

@media (max-width: 581px) {
  .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container span.address_state {
    width: 52%;
    margin-right: 0;
  }

  .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container span.address_zip {
    width: 100%;
  }
}