//
// Name:            Home
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: Home Page
// ========================================================================
.page-template-template-404,
body.error404 {
  main {
    position: static;
  }

  header.header {
    border-bottom: transparent;

    .left-col {
      background: transparent;

      .logo {
        display: none;
      }
    }

    .right-col {
      width: auto;

      .return-home {
        height: 100%;
        color: $color-white;
        display: inline-flex;

        &:hover {
          color: $color-black;
        }
      }

      .button-container {
        #hamburger {
          background: transparent;
          border-bottom: 2px solid rgba($color-white, .5);
          border-left: 2px solid rgba($color-white, .5);

          svg {
            path {
              stroke: $color-white;
              fill: $color-white;
            }
          }

          @media (hover: hover) and (pointer: fine) {
            &:hover {
              background: $color-white;

              svg {
                path {
                  stroke: $color-black;
                  stroke-width: 2px;
                }
              }
            }
          }
        }

        &.scrolling {
          #hamburger {
            border-top: 2px solid rgba($color-white, .5);
            border-right: 2px solid rgba($color-white, .5);
          }
        }
      }
    }
  }

  #banner {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background: $dark-gray;
    border: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;

    .banner-inner {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      -ms-flex-align: center;
      justify-content: center;
      padding: 200px 0 100px;
      position: relative;
    }

    .text-cnt {
      display: inline-block;
      margin: auto;
      position: relative;
      text-align: center;
      z-index: 1;

      h1 {
        color: $color-white;
        font-family: $schnyder;
        font-size: 300px;
        font-weight: 400;
        line-height: 312px;
        margin-bottom: 100px;
      }

      span {
        width: 152px;
        height: 2px;
        background: red;
        display: inline-block;
        margin-bottom: 33px;
      }

      p {
        font-size: 34px;
        color: $color-white;
        line-height: 48px;
      }
    }

    .bg-images {
      width: 100vw;
      height: 100%;
      min-height: 850px;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;

      .bg-images-inner {
        width: 100%;
        height: 100%;
        min-height: 850px;
        position: relative;
        display: inline-flex;
        justify-content: flex-end;
        -ms-flex-pack: end;
        align-items: flex-end;
        margin-left: auto;
      }

      .image {
        position: absolute;

        &:nth-of-type(1) {
          width: 71.4vw;
          height: 50.5vw;
          top: -30vw;
          right: -21vw;
        }

        &:nth-of-type(2) {
          width: 71.4vw;
          height: 50.5vw;
          left: 0;
          bottom: -9vw;
        }
      }

      .image-container {
        width: 100%;
        height: 100%;
        position: relative;

        &:before {
          content: '';
          width: 100%;
          height: 100%;
          background: rgba(#1A222B, .6);
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }

        img {
          filter: grayscale(100%);
          opacity: .35;
        }
      }
    }
  }

  footer {
    display: none;
  }
}

html.ie {
  .page-template-template-404,
  body.error404 {
    header.header {
      .right-col {
        .button-container {
          #hamburger {
            &:hover {
              background: $color-white;

              svg {
                path {
                  stroke: $color-black;
                  stroke-width: 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .page-template-template-404 header.header .left-col {
    width: auto;
  }

  .page-template-template-404 #banner .text-cnt h1, body.error404 #banner .text-cnt h1 {
    font-size: 225px;
    line-height: 250px;
  }

  .page-template-template-404 #banner .bg-images .image:nth-of-type(1), body.error404 #banner .bg-images .image:nth-of-type(1) {
    top: 0;
  }

  .page-template-template-404 #banner .bg-images .image:nth-of-type(2), body.error404 #banner .bg-images .image:nth-of-type(2) {
    bottom: 0;
  }
}

@media (max-width: 581px) {
  .page-template-template-404 #banner .text-cnt h1, body.error404 #banner .text-cnt h1 {
    font-size: 150px;
    line-height: 175px;
  }

  .page-template-template-404 #banner .text-cnt p, body.error404 #banner .text-cnt p {
    font-size: 24px;
    line-height: 32px;
  }

  .page-template-template-404 #banner .bg-images, body.error404 #banner .bg-images,
  .page-template-template-404 #banner .bg-images .bg-images-inner, body.error404 #banner .bg-images .bg-images-inner {
    min-height: 0;
  }

  .page-template-template-404 #banner .bg-images .image:nth-of-type(1), body.error404 #banner .bg-images .image:nth-of-type(1) {
    height: 50vh;
  }

  .page-template-template-404 #banner .bg-images .image:nth-of-type(2), body.error404 #banner .bg-images .image:nth-of-type(2) {
    height: 50vh;
    bottom: 0;
  }
}