//
// Name:            About
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: About Page
// ========================================================================
.page-template-template-about {
  #banner {
    padding: 124px 3.4vw 90px;

    h1 {
      max-width: 60%;
      font-family: $schnyder;
      font-size: 72px;
      font-weight: 400;
      color: #111111;
      line-height: 80px;
    }

    .image-container {
      width: 100%;
      height: 53.3vw;
      margin-top: 60px;
    }
  }

  #our-vision {
    padding: 90px 3.4vw;

    .text-cnt {
      max-width: 55%;
    }

    h2 {
      font-family: $schnyder;
      font-weight: 400;
      font-size: 48px;
      line-height: 58px;

      & + p {
        margin-top: 30px;
      }
    }

    p {
      font-size: 20px;
      color: #111111;
      line-height: 32px;
    }

    .image-container {
      width: 100%;
      height: 53.3vw;
      margin-top: 92px;
      margin-bottom: 120px;
    }
  }

  #quote-ticker {
    border-top: 1px solid $dark-gray;
    border-bottom: 1px solid $dark-gray;
    overflow: hidden;
    padding: 95px 0;

    .quote-ticker-container {
      width: 100%;
      overflow: hidden;
      box-sizing: content-box;
      padding-left: 100%;
      transition: 5s linear;
    }

    .quote-ticker-inner {
      display: inline-block;
      box-sizing: content-box;
      padding-right: 100%;
      white-space: nowrap;
    }

    .quote-ticker-item {
      color: $red;
      display: inline-block;
      font-family: $schnyder;
      font-size: 88px;
      font-weight: 400;
      line-height: 96px;
    }
  }

  #our-team {
    overflow: hidden;
    padding: 120px 3.4vw;

    .text-cnt {
      max-width: 55%;
    }

    h2 {
      font-family: $schnyder;
      font-weight: 400;
      font-size: 48px;
      line-height: 58px;

      & + p {
        margin-top: 30px;
      }
    }

    p {
      font-size: 20px;
      color: #111111;
      line-height: 32px;
    }

    .team-container {
      margin-top: 200px;
    }

    .team-container {
      display: flex;
      white-space: nowrap;
    }

    .team-inner {
      display: flex;
      padding-left: 10.8vw;
    }

    .team-col {
      width: auto;
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      flex-grow: 1;
      vertical-align: top;

      &:nth-child(even) {
        margin-top: -6.9vw;
        padding-right: 10vw;
      }
    }

    .team-member-card {
      position: relative;
      display: inline-flex;
      margin-right: auto;

      &:last-child {
        margin-top: -12%;
        padding-left: 13.5vw;
      }

      a {
        display: block;
        z-index: 0;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            z-index: 1;

            .text-cnt {
              h2, p {
                color: $red;
              }
            }

            .image-container {
              img {
                filter: grayscale(100%);
              }

              &:after {
                opacity: .7;
              }
            }
          }
        }
      }

      .text-cnt {
        max-width: none;
        width: 25vw;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: rotate(-90deg);
        transform-origin: 0 100%;

        h2 {
          font-family: $schnyder;
          font-size: 32px;
          font-weight: 400;
          color: #111111;
          letter-spacing: 0;
          line-height: 40px;
          transition: color .15s ease-in-out;
        }

        p {
          font-size: 16px;
          line-height: 28px;
          margin-top: 0;
          transition: color .15s ease-in-out;
        }
      }

      .image-container {
        width: 25vw;
        height: 27.8vw;
        position: relative;

        img {
          filter: grayscale(0);
          transition: filter .25s ease-in-out;
        }

        &:after {
          content: '';
          width: 100%;
          height: 100%;
          background: $dark-gray;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          transition: opacity .25s ease-in-out;
        }
      }
    }
  }

  .team-modal {
    display: none;
  }

  #js-modal,
  .team-modal {
    width: 100vw;
    height: 100vh;
    background: $dark-gray;
    border: none;
    overflow: scroll;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    #js-modal-close,
    .close {
      width: 150px;
      height: 126px;
      background: transparent;
      border-left: 2px solid rgba($color-white, .5);
      border-bottom: 2px solid rgba($color-white, .5);
      cursor: pointer;
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;

      span {
        font-family: $schnyder;
        font-size: 24px;
        font-weight: 400;
        color: $color-white;
        margin: auto;
      }
    }

    .bg-images {
      width: 100vw;
      height: 100%;
      min-height: 850px;
      display: flex;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;

      .bg-images-inner {
        width: auto;
        height: 100%;
        min-height: 850px;
        position: relative;
        display: inline-flex;
        justify-content: flex-end;
        -ms-flex-pack: end;
        align-items: flex-end;
        margin-left: auto;
      }

      .image-container {
        position: relative;

        &:before {
          content: '';
          width: 100%;
          height: 100%;
          background: rgba(#1A222B, .8);
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }

        &:nth-of-type(1) {
          width: 42.4vw;
          height: 47vw;
        }

        &:nth-of-type(2) {
          width: 42.4vw;
          height: 50.3vw;
        }

        img {
          filter: grayscale(100%);
        }
      }
    }

    .team-modal-inner {
      width: 100%;
      height: 100%;
      min-height: 850px;
      position: relative;
      z-index: 10;

      .row {
        height: 100%;
        min-height: 850px;
      }

      .col-xs-4 {
        height: 100%;
        min-height: 850px;
        border-right: 2px solid $red;
        padding: 95px 6.6vw;

        h2 {
          font-family: $schnyder;
          font-size: 72px;
          font-weight: 400;
          color: $color-white;
          line-height: 80px;
        }

        p {
          font-size: 16px;
          color: $color-white;
          line-height: 28px;
          margin-top: 60px;
        }
      }

      .col-xs-8 {
        height: 100%;
        min-height: 850px;
        display: flex;
        justify-content: center;
        -ms-flex-pack: center;
        align-items: center;
        -ms-flex-align: center;
        padding: 0 13.9vw 0 1.4vw;

        p {
          font-size: 20px;
          color: $color-white;
          line-height: 32px;
        }
      }
    }
  }

  #our-process {
    background: $dark-green;
    overflow: hidden;
    padding: 120px 0;

    .text-cnt {
      max-width: 55%;
      margin-left: 3.4vw;
    }

    h2 {
      font-family: $schnyder;
      font-weight: 400;
      font-size: 48px;
      line-height: 58px;

      & + p {
        margin-top: 30px;
      }
    }

    p {
      font-size: 20px;
      color: #111111;
      line-height: 32px;
    }

    .swiper-container {
      padding-left: 3.4vw;
      padding-right: 4.7vw;
      position: relative;
      overflow: visible;

      &.image-swiper {
        margin-top: 90px;
      }

      &.caption-swiper {
        margin-top: 30px;
      }

      .swiper-wrapper {
        .swiper-slide {
          display: inline-block;
          position: static;

          .image-container {
            width: 79.2vw;
            height: 45.3vw;
          }

          .caption {
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            opacity: 0;
            position: absolute;
            bottom: -30px;
            left: 0;
            transition: opacity .25s ease-in-out;
          }

          &.swiper-slide-active {
            .caption {
              opacity: 1;
              transition: opacity .25s ease-in-out 1s;
            }
          }
        }
      }

      .swiper-navigation {
        width: 140px;
        height: 55px;
        background: $dark-green;
        display: inline-block;
        position: absolute;
        top: calc(45.3vw + 5px);
        right: calc(17.4vw - 5px);
        text-align: center;
        transform: translateY(-100%);
        z-index: 1;

        .swiper-navigation-inner {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: center;
          -ms-flex-pack: center;
          align-items: center;
          -ms-flex-align: center;
        }

        .swiper-button-prev,
        .swiper-button-next {
          width: auto;
          height: auto;
          background: none;
          border: none;
          display: inline-block;
          vertical-align: middle;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1px;
          margin: 0;
          position: relative;
          top: 0;
          bottom: auto;
          left: 0;
          right: auto;
          text-transform: uppercase;
        }

        .swiper-button-prev {
          padding-right: 11px;

          &:after {
            content: '';
            width: 1px;
            height: 75%;
            background: $dark-gray;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }
    }
  }

  #contact {
    padding: 120px 3.4vw;

    .text-cnt {
      max-width: 55%;
    }

    h2 {
      font-family: $schnyder;
      font-weight: 400;
      font-size: 48px;
      line-height: 58px;

      & + p {
        margin-top: 30px;
      }
    }

    p {
      font-size: 20px;
      color: #111111;
      line-height: 32px;
    }

    a {
      display: inline-block;
      font-family: $schnyder;
      font-size: 24px;
      margin-top: 75px;
    }
  }
}

html.ie {
  .page-template-template-about #our-team .team-member-card {
    a:hover {
      z-index: 1;

      .text-cnt {
        h2, p {
          color: $red;
        }
      }

      .image-container {
        img {
          filter: grayscale(100%);
        }

        &:after {
          opacity: .7;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .page-template-template-about #js-modal .team-modal-inner .col-xs-4,
  .page-template-template-about .team-modal .team-modal-inner .col-xs-4 {
    padding: 95px 2.5vw;
  }

  .page-template-template-about #js-modal .team-modal-inner .col-xs-4 h2,
  .page-template-template-about .team-modal .team-modal-inner .col-xs-4 h2 {
    font-size: 65px;
  }
}

@media (max-width: 1024px) {
  .page-template-template-about #banner,
  .page-template-template-about #our-team,
  .page-template-template-about #contact {
    padding: 80px 3.4vw;
  }

  .page-template-template-about #banner h1 {
    max-width: 65%;
  }

  .page-template-template-about #our-vision {
    padding: 40px 3.4vw;
  }

  .page-template-template-about #our-team .team-container {
    margin-top: 100px;
  }

  .page-template-template-about #our-team .team-inner {
    flex-wrap: wrap;
    transform: none!important;
    padding-left: 6vw;
  }

  .page-template-template-about #our-team .team-col {
    flex-direction: row;
    justify-content: space-between;
    -ms-flex-pack: justify;
    margin-bottom: 3.4vw;
  }

  .page-template-template-about #our-team .team-col:last-child {
    margin-bottom: 0;
  }

  .page-template-template-about #our-team .team-col:nth-child(even) {
    margin-top: 0;
    padding: 0;
  }

  .page-template-template-about #our-team .team-member-card {
    margin-right: auto;
  }

  .page-template-template-about #our-team .team-member-card:last-child {
    margin-top: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .page-template-template-about #our-team .team-member-card .text-cnt {
    width: 35vw;
  }

  .page-template-template-about #our-team .team-member-card .image-container {
    width: 35vw;
    height: 39vw;
  }

  .page-template-template-about #js-modal .team-modal-inner .row,
  .page-template-template-about .team-modal .team-modal-inner .row {
    display: block;
  }

  .page-template-template-about #js-modal .team-modal-inner .col-xs-8,
  .page-template-template-about .team-modal .team-modal-inner .col-xs-8,
  .page-template-template-about #js-modal .team-modal-inner .col-xs-4,
  .page-template-template-about .team-modal .team-modal-inner .col-xs-4 {
    width: 93.2vw;
    max-width: 100%;
    flex-basis: 100%;
    height: auto;
    min-height: 0;
    margin-left: 3.4vw;
  }

  .page-template-template-about #js-modal .team-modal-inner .col-xs-8,
  .page-template-template-about .team-modal .team-modal-inner .col-xs-8 {
    padding: 50px 0;
  }

  .page-template-template-about #js-modal .team-modal-inner .col-xs-4,
  .page-template-template-about .team-modal .team-modal-inner .col-xs-4 {
    border-bottom: 2px solid $red;
    border-right: none;
    padding: 100px 0 50px;
  }
}

@media (max-width: 768px) {
  .page-template-template-about #banner h1 {
    font-size: 64px;
    line-height: 72px;
  }

  .page-template-template-about #our-vision .text-cnt,
  .page-template-template-about #our-team .text-cnt,
  .page-template-template-about #our-process .text-cnt,
  .page-template-template-about #contact .text-cnt {
    max-width: 68%;
  }

  .page-template-template-about #our-vision .image-container {
    margin-bottom: 80px;
  }

  .page-template-template-about #quote-ticker {
    padding: 50px 0;
  }

  .page-template-template-about #quote-ticker .quote-ticker-item {
    font-size: 72px;
  }

  .page-template-template-about #our-team .team-inner {
    padding-left: 0;
  }

  .page-template-template-about #our-team .team-member-card,
  .page-template-template-about #our-team .team-member-card:last-child {
    margin: 0;
  }

  .page-template-template-about #our-team .team-member-card {
    width: 50%;
  }

  .page-template-template-about #our-team .team-member-card:first-child {
    padding-right: 1.7vw;
  }

  .page-template-template-about #our-team .team-member-card:last-child {
    padding-left: 1.7vw;
  }

  .page-template-template-about #our-team .team-member-card .text-cnt {
    width: auto;
    margin-top: 15px;
    position: static;
    transform: none;
  }

  .page-template-template-about #our-team .team-member-card a,
  .page-template-template-about #our-team .team-member-card .image-container {
    width: 100%;
  }

  .page-template-template-about #our-team .team-member-card .image-container {
    height: 50vw;
  }
}

@media (max-width: 581px) {
  .page-template-template-about #banner,
  .page-template-template-about #our-team,
  .page-template-template-about #contact {
    padding: 50px 5vw;
  }

  .page-template-template-about #banner h1,
  .page-template-template-about #our-vision .text-cnt,
  .page-template-template-about #our-team .text-cnt,
  .page-template-template-about #our-process .text-cnt,
  .page-template-template-about #contact .text-cnt {
    max-width: 100%;
  }

  .page-template-template-about #our-vision {
    padding: 40px 5vw;
  }

  .page-template-template-about #our-vision .image-container {
    margin-bottom: 25px;
  }

  .page-template-template-about #our-team .team-col {
    width: 100%;
    display: flex;
  }

  .page-template-template-about #our-team .team-member-card {
    width: 100%;
  }

  .page-template-template-about #our-team .team-member-card:first-child {
    padding-right: 2.5vw;
  }

  .page-template-template-about #our-team .team-member-card:last-child {
    padding-left: 2.5vw;
  }

  .page-template-template-about #our-team .team-member-card .text-cnt h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .page-template-template-about #our-team .team-member-card .image-container {
    height: 54vw;
  }

  .page-template-template-about #our-process .text-cnt {
    margin: 0;
    padding: 0 5vw;
  }

  .page-template-template-about #our-process .swiper-container {
    margin-top: 10px;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .page-template-template-about #our-process .swiper-container .swiper-navigation {
    top: 0;
    left: 0;
    right: auto;
  }

  .page-template-template-about #js-modal #js-modal-close,
  .page-template-template-about #js-modal .close,
  .page-template-template-about .team-modal #js-modal-close,
  .page-template-template-about .team-modal .close {
    width: 125px;
    height: 100px;
  }

  .page-template-template-about #js-modal .team-modal-inner .col-xs-4,
  .page-template-template-about .team-modal .team-modal-inner .col-xs-4 {
    padding: 125px 5vw 30px;
  }

  .page-template-template-about #js-modal .team-modal-inner .col-xs-8,
  .page-template-template-about .team-modal .team-modal-inner .col-xs-8 {
    padding: 30px 5vw;
  }

  .page-template-template-about #js-modal .team-modal-inner .col-xs-4 h2,
  .page-template-template-about .team-modal .team-modal-inner .col-xs-4 h2 {
    font-size: 48px;
    line-height: 58px;
  }

  .page-template-template-about #js-modal .team-modal-inner .col-xs-4 p,
  .page-template-template-about .team-modal .team-modal-inner .col-xs-4 p {
    margin-top: 30px;
  }

  .page-template-template-about #js-modal .bg-images .image-container:nth-of-type(1), .page-template-template-about .team-modal .bg-images .image-container:nth-of-type(1) {
    width: 72.2vw;
    height: 80vw;
    left: -10vw;
    z-index: 2;
  }

  .page-template-template-about #js-modal .bg-images .image-container:nth-of-type(1), .page-template-template-about .team-modal .bg-images .image-container:nth-of-type(2) {
    width: 84.3vw;
    height: 100vw;
    left: -30vw;
  }
}