//
// Name:            Contact
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//

// ========================================================================
// Component: Contact Page
// ========================================================================
.page-template-template-contact {
  #banner {
    border-bottom: 1px solid $color-black;
    padding: 64px 3.4vw;

    h1 {
      max-width: 60%;
      font-family: $schnyder;
      font-size: 72px;
      font-weight: 400;
      color: #111111;
      line-height: 80px;
    }
  }

  #location {
    border-bottom: 1px solid $color-black;

    .row {
      margin: 0;
      padding: 0;

      .col-xs-6 {
        display: flex;
        flex-direction: column;

        &:first-child {
          padding: 115px 3.4vw;
          background: $dark-green;

          .address {
            margin-bottom: 90px;

            p,
            address {
              font-size: 34px;
              line-height: 48px;
            }
          }

          a {
            font-size: 20px;
            color: #111111;
            display: inline-block;
            letter-spacing: 3px;
            margin-bottom: 20px;
            margin-right: auto;
            text-align: center;
            text-transform: uppercase;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        &:last-child {
          padding: 0;

          #map {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  #contact-form {
    h3 {
      font-family: $schnyder;
      font-size: 48px;
      font-weight: 400;
      line-height: 58px;
    }

    .col-xs-5 {
      padding: 0;

      .image-container {
        width: 100%;
        height: 100%;
      }
    }

    .col-xs-7 {
      border-left: 1px solid $color-black;
      padding: 70px 4.7vw 120px;
    }
  }
}

@media (max-width: 1024px) {
  .page-template-template-contact #banner h1 {
    max-width: 75%;
  }

  .page-template-template-contact #contact-form .col-xs-7 {
    padding: 50px 3.5vw 100px;
  }
}

@media (max-width: 768px) {
  .page-template-template-contact #banner h1 {
    font-size: 64px;
    line-height: 72px;
  }

  .page-template-template-contact #location .row .col-xs-6,
  .page-template-template-contact #contact-form .col-xs-5,
  .page-template-template-contact #contact-form .col-xs-7 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  .page-template-template-contact #location .row .col-xs-6:first-child {
    padding: 50px 3.5vw;
  }

  .page-template-template-contact #location .row .col-xs-6:last-child {
    height: 55vw;
  }

  .page-template-template-contact #contact-form .col-xs-5 .image-container {
    height: 55vw;
  }

  .page-template-template-contact #contact-form .col-xs-7 {
    border-left: none;
  }
}

@media (max-width: 581px) {
  .page-template-template-contact #banner {
    padding: 50px 3.5vw;
  }

  .page-template-template-contact #banner h1 {
    max-width: none;
    font-size: 52px;
    line-height: 64px;
  }

  .page-template-template-contact #location .row .col-xs-6:first-child .address {
    margin-bottom: 50px;
  }

  .page-template-template-contact #location .row .col-xs-6:first-child .address p,
  .page-template-template-contact #location .row .col-xs-6:first-child .address address {
    font-size: 32px;
    line-height: 45px;
  }

  .page-template-template-contact #location .row .col-xs-6:last-child {
    height: 85vw;
  }

  .page-template-template-contact #contact-form .col-xs-5 .image-container {
    height: 70vw;
  }

  .page-template-template-contact #contact-form h3 {
    font-size: 38px;
    line-height: 50px;
  }
}
