//
// Name:            General Template
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: General Template Page
// ========================================================================
.page-template-default:not(.home),
.page-template-template-default:not(.home) {

  main {
    padding: 124px 0;
  }

  #banner {
    padding: 0 45vw 120px 3.5vw;

    h1 {
      font-family: $schnyder;
      font-size: 72px;
      font-weight: 400;
      color: #111111;
      line-height: 80px;
    }
  }

  #main-cnt {
    padding: 0 45vw 0 3.5vw;

    h2 {
      font-family: $schnyder;
      font-size: 48px;
      font-weight: 400;
      line-height: 58px;
      margin-top: 0;
    }

    ul {
      margin-top: 30px;
    }

    p, li {
      font-size: 16px;
      color: #111111;
      line-height: 28px;
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }

      & + h2 {
        margin-top: 60px;
      }
    }

    .intro {
      margin-bottom: 60px;

      p {
        font-size: 20px;
        color: #111111;
        line-height: 32px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .page-template-default:not(.home) #banner,
  .page-template-template-default:not(.home) #banner {
    padding: 0 30vw 120px 3.5vw;
  }

  .page-template-default:not(.home) #banner h1,
  .page-template-template-default:not(.home) #banner h1 {
    font-size: 64px;
    line-height: 72px;
  }

  .page-template-default:not(.home) #main-cnt,
  .page-template-template-default:not(.home) #main-cnt {
    padding: 0 30vw 0 3.5vw;
  }
}

@media (max-width: 768px) {
  .page-template-default:not(.home) main,
  .page-template-template-default:not(.home) main {
    padding-top: 100px;
  }

  .page-template-default:not(.home) #banner,
  .page-template-template-default:not(.home) #banner {
    padding: 0 20vw 80px 3.5vw;
  }

  .page-template-default:not(.home) #main-cnt,
  .page-template-template-default:not(.home) #main-cnt {
    padding: 0 20vw 0 3.5vw;
  }

  .page-template-default:not(.home) #main-cnt h2,
  .page-template-template-default:not(.home) #main-cnt h2 {
    font-size: 42px;
    line-height: 54px;
  }
}

@media (max-width: 581px) {
  .page-template-default:not(.home) main,
  .page-template-template-default:not(.home) main {
    padding-top: 50px;
  }

  .page-template-default:not(.home) #banner,
  .page-template-template-default:not(.home) #banner {
    padding: 0 3.5vw 50px 3.5vw;
  }

  .page-template-default:not(.home) #banner h1,
  .page-template-template-default:not(.home) #banner h1 {
    font-size: 52px;
    line-height: 64px;
  }

  .page-template-default:not(.home) #main-cnt,
  .page-template-template-default:not(.home) #main-cnt {
    padding: 0 3.5vw;
  }
}