//
// Name:            Home DEMO
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//

// ========================================================================
// Component: Home DEMO Page
// ========================================================================

body.page-template-template-home-demo {
  main {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;
  }

  section {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  #left-section {
    width: 28.6vw;
    border-right: 2px solid #9FA1A4;

    h2 {
      font-size: 24px;
    }
  }

  #right-section {
    width: 71.4vw;
  }

  .section-inner {
    width: 100%;
    height: 200vw;
  }

  .banner-cnt {
    .image-container {
      img {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .product-item {
    position: relative;
    overflow: hidden;
    display: flex;

    &.right {
      justify-content: flex-end;
    }

    &.center {
      justify-content: center;
    }

    .product-inner {
      width: 100%;
      height: 100vh;
      position: relative;

      &:hover {
        .red-box {
          .top,
          .bottom {
            width: 100%;
          }

          .left,
          .right {
            height: 100%;
          }
        }
      }
    }

    .image-container {
      width: 100%;
      height: 100%;
      position: relative;
    }

    .text-cnt {
      background: $color-white;
      padding: 20px 11.6% 20px 3%;
      position: absolute;
      left: 0;
      bottom: 0;

      &.top {
        top: 0;
        bottom: auto;
      }

      &.right {
        left: auto!important;
        right: 0;
      }

      p, a {
        font-size: 16px;
        color: $color-black;
        line-height: 28px;
      }

      a {
        background: #DEE6E6;
        font-size: 14px;
        color: #3D4147;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }

    .red-box {
      width: 100%;
      height: 50%;
      position: absolute;
      top: 0;
      left: 0;

      .red-box-inner {
        width: 100%;
        height: 100%;
        position: relative;
      }

      .top,
      .bottom,
      .left,
      .right {
        background: #D00000;
        position: absolute;
        transition: all .1s linear;
      }

      .top,
      .bottom {
        width: 0;
      }

      .top {
        height: 2px;
        top: 0;
        left: 0;
      }

      .bottom {
        height: 2px;
        bottom: 0;
        right: 0;
        transition-delay: .2s;
      }

      .left,
      .right {
        height: 0;
      }

      .left {
        width: 2px;
        bottom: 0;
        left: 0;
        transition-delay: .3s;
      }

      .right {
        width: 2px;
        top: 0;
        right: 0;
        transition-delay: .1s;
      }
    }
  }
}
