//
// Name:            Home
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: Home Page
// ========================================================================

body.page-template-template-home,
.home {
  header {
    width: auto;
    position: fixed;
    border-bottom: none;
    left: auto;
    right: 0;

    .left-col {
      border-bottom: 2px solid $dark-gray;
      border-right: 2px solid $dark-gray;
      display: none;
    }

    .right-col {
      .button-container {
        height: 126px;
        &:before {
          display: none;
        }

        &.scrolling {
          position: relative;
        }
      }

      .dealer-login,
      .return-home {
        height: calc(100% - 2px);
      }
    }
  }

  main {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;
  }

  .page-col {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .section-inner {
    width: 100%;
  }

  #left-section,
  #right-section {
    height: 100vh;
    overflow: scroll;
  }

  #left-section {
    width: 412px;
    height: 100vh;
    border-right: 2px solid $dark-gray;

    .col-header {
      width: 412px;
      height: 128px;
      border-bottom: 2px solid $dark-gray;
      display: flex;
      justify-content: center;
      -ms-flex-pack: center;
      align-items: center;
      -ms-flex-align: center;
      padding: 0 50px;
      text-align: center;

      .logo {
        display: inline-block;
        margin: auto;
        position: relative;

        span {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
        }

        img {
          max-height: 100%;
        }
      }
    }
  }

  .banner-section {
    padding: 100px 50px 70px;

    h1 {
      font-family: $schnyder;
      font-size: 72px;
      font-weight: 400;
      color: #111111;
      line-height: 80px;
      position: relative;
    }

    a {
      display: inline-block;
      font-family: $schnyder;
      font-size: 24px;
      margin-top: 75px;
    }

    .scroll-indicator {
      margin-top: 105px;

      img, p {
        display: inline-block;
        vertical-align: middle;
      }

      img {
        margin-right: 5px;
      }

      p {
        font-size: 14px;
        color: $dark-gray;
        line-height: 24px;
        margin-top: 0;
      }
    }
  }

  .product-benefits-section {
    background: $dark-green;
    padding: 170px 50px 308px;

    h2 {
      font-family: $schnyder;
      font-size: 48px;
      font-weight: 400;
      line-height: 58px;
    }

    .divider {
      width: 100%;
      height: 1px;
      background: $dark-gray;
      margin: 60px 0;

      & + p {
        margin-top: 0;
      }
    }

    p {
      font-size: 34px;
      line-height: 48px;
      margin-top: 25px;
      margin-right: 8px;

      .highlight {
        background-position: 0 calc(100% - 8px);
        text-transform: none!important;

        &.grow {
          background-size: 100% 30px;
        }
      }
    }
  }

  .product-details-section {
    padding: 180px 50px 0;

    .details-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 180px;
    }

    h2 {
      font-family: $schnyder;
      font-size: 48px;
      font-weight: 400;
      line-height: 58px;
    }

    p {
      font-size: 20px;
      color: #111111;
      line-height: 32px;
      margin-bottom: 108px;
      margin-right: 8px;
    }

    a {
      display: inline-block;
      font-family: $schnyder;
      font-size: 24px;
      margin-bottom: 75px;
      margin-right: auto;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .contact-section {
    background: $dark-green;
    padding: 180px 50px  520px;

    h2 {
      font-family: $schnyder;
      font-size: 48px;
      font-weight: 400;
      line-height: 58px;
    }

    p {
      font-size: 20px;
      color: #111111;
      line-height: 32px;
      margin-bottom: 108px;
      margin-right: 8px;
    }

    a {
      display: inline-block;
      font-family: $schnyder;
      font-size: 24px;
      margin-bottom: 75px;
      margin-right: auto;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 90px 50px 60px;

    .highlight {
      @include font-europa-bold;
      font-size: 14px;
      color: $dark-gray;
      letter-spacing: 1px;
      line-height: 16px;
      text-transform: uppercase;
      margin-bottom: 30px;
      margin-right: auto;
    }

    .address {
      margin-bottom: 42px;

      p,
      address {
        margin-top: 0;
      }
    }

    .social-links {
      align-items: flex-start;
      -ms-flex-align: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: start;
      margin-top: 0;
      margin-bottom: 40px;
      padding: 0;

      li {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        -ms-flex-align: center;
        justify-content: center;
        -ms-flex-pack: center;
        margin-bottom: 22px;
        margin-right: 22px;
        position: relative;

        &:nth-child(3) {
          margin-right: 70px;
        }

        &:last-child {
          margin-right: 0;
        }

        span {
          width: 100%;
          height: 100%;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
        }

        img {
          width: auto;
          max-width: 100%;
          height: auto;
          max-height: 100%;
          margin: auto;
        }
      }
    }

    .dealer-login {
      margin-bottom: 25px;
    }

    .copyright {
      font-size: 16px;
      color: #111111;
      line-height: 28px;
      margin-top: 0;
    }
  }

  #right-section {
    width: calc(100vw - 412px);

    .section-inner {
      margin-top: 126px;
      border-top: 2px solid $dark-gray;
    }
  }

  .responsive-section {
    display: none;
  }

  .banner-cnt {
    .image-container {
      img {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .product-item {
    position: relative;
    overflow: hidden;
    display: flex;

    &.banner {
      .image-container {
        height: 100vh;

        image {
          height: 100%;
        }
      }
    }

    &.has-text {
      overflow: visible;
    }

    &.right {
      justify-content: flex-end;
      -ms-flex-pack: end;
    }

    &.center {
      justify-content: center;
      -ms-flex-pack: center;
    }

    .product-inner {
      width: 100%;
      height: 100%;
      position: relative;

      &:hover {
        .red-box {
          .top,
          .bottom {
            width: 100%;
          }

          .left,
          .right {
            height: 100%;
          }

          .top {
            transition-delay: 0s;
          }

          .bottom {
            transition-delay: .5s;
          }

          .left {
            transition-delay: .75s;
          }

          .right {
            transition-delay: .25s;
          }
        }
      }
    }

    .image-container {
      width: 100%;
      height: 100%;
      position: relative;
    }

    .text-cnt {
      background: $color-white;
      padding: 20px 11.6% 20px 3%;
      position: absolute;
      left: 0;

      p, a {
        font-size: 16px;
        color: $color-black;
        line-height: 28px;
      }

      a {
        font-size: 14px;
        color: $dark-gray;
        letter-spacing: 1px;
        line-height: 16px;
        text-transform: uppercase;

        @media (hover: hover) and (pointer: fine) {
          &:hover,
          &:focus {
            background-size: 100% 16px;
          }
        }
      }
    }

    .red-box {
      width: 100%;
      height: 50%;
      position: absolute;
      top: 0;
      left: 0;

      .red-box-inner {
        width: 100%;
        height: 100%;
        position: relative;
      }

      .top,
      .bottom,
      .left,
      .right {
        background: $red;
        position: absolute;
        transition: all .25s linear;
      }

      .top,
      .bottom {
        width: 0;
      }

      .top {
        height: 2px;
        top: 0;
        left: 0;
        transition-delay: .75s;
      }

      .bottom {
        height: 2px;
        bottom: 0;
        right: 0;
        transition-delay: .25s;
      }

      .left,
      .right {
        height: 0;
      }

      .left {
        width: 2px;
        bottom: 0;
        left: 0;
      }

      .right {
        width: 2px;
        top: 0;
        right: 0;
        transition-delay: .5s;
      }
    }
  }

  #footer {
    display: none;
  }
}

html.ie {
  body.page-template-template-home .product-item .text-cnt a {
    &:hover,
    &:focus {
      background: 100% 16px;
    }
  }
}

@media (max-width: 1024px) {
  body.page-template-template-home main {
    height: auto;
  }

  body.page-template-template-home header.header {
    width: 100%;
    border-bottom: 2px solid $dark-gray;
    position: static;
  }

  body.page-template-template-home header .left-col {
    border-bottom: none;
    border-right: none;
    display: flex;
  }

  body.page-template-template-home header.header .right-col .button-container {
    height: 78px;
  }

  body.page-template-template-home #left-section {
    display: none;
  }

  body.page-template-template-home #right-section {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  body.page-template-template-home #right-section .section-inner {
    border-top: 0;
    margin-top: 0;
  }

  body.page-template-template-home .responsive-section {
    display: block;
  }

  body.page-template-template-home .banner-section {
    padding: 50px 8.6vw 125px;
  }

  body.page-template-template-home .banner-section h1 {
    max-width: 65%;
  }

  body.page-template-template-home .banner-section .scroll-indicator {
    display: none;
  }

  body.page-template-template-home .product-benefits-section {
    padding: 76px 8.6vw 122px;
  }

  body.page-template-template-home .product-benefits-section .text-cnt {
    max-width: 70%;
  }

  body.page-template-template-home .product-details-section {
    display: flex;
    padding: 160px 8.6vw 136px;
  }

  body.page-template-template-home .product-details-section .details-container {
    margin-bottom: 0;
  }

  body.page-template-template-home .product-details-section .details-container:nth-child(odd) {
    padding-right: 4vw;
  }

  body.page-template-template-home .product-details-section .details-container:nth-child(even) {
    padding-left: 4vw;
  }

  body.page-template-template-home .contact-section {
    padding: 70px 8.6vw 105px;
  }

  body.page-template-template-home #footer {
    display: block;
  }

  body.page-template-template-home .footer {
    padding: 41px 3.5vw;
  }
}

@media (max-width: 768px) {
  body.page-template-template-home .banner-section {
    padding-bottom: 16vw;
  }

  body.page-template-template-home .banner-section h1 {
    max-width: 85%;
    font-size: 64px;
    line-height: 72px;
  }

  body.page-template-template-home .product-item.banner .image-container {
    height: 70.6vw;
  }

  body.page-template-template-home .product-item.has-text:not(.banner) .text-cnt {
    position: static;
  }

  body.page-template-template-home .product-item.banner .text-cnt {
    left: 0!important;
    top: 100%!important;
    bottom: auto!important;
  }

  body.page-template-template-home .product-item + .responsive-section {
    margin-top: 80px;
  }

  body.page-template-template-home .product-benefits-section p {
    font-size: 28px;
    line-height: 40px;
  }

  body.page-template-template-home .product-details-section {
    padding-top: 80px;
  }

  body.page-template-template-home .contact-section p {
    max-width: 68%;
    margin-bottom: 60px;
  }
}

@media (max-width: 581px) {
  body.page-template-template-home header .right-col .dealer-login, body.page-template-template-home header .right-col .return-home {
    height: 100%;
  }

  body.page-template-template-home header .left-col {
    border-right: none;
  }

  body.page-template-template-home header.header .right-col .button-container {
    height: 66px;
  }
  
  body.page-template-template-home .product-item {
    margin-bottom: 9vw;
  }

  body.page-template-template-home .product-item.banner,
  body.page-template-template-home .product-item.has-text {
    margin-bottom: 0;
  }

  body.page-template-template-home .product-item.banner .text-cnt {
    display: block;
    position: static;
  }

  body.page-template-template-home .product-item + .responsive-section {
    margin-top: 0;
  }

  body.page-template-template-home .responsive-section + .product-item {
    margin-top: 9vw;
  }

  body.page-template-template-home .banner-section h1 {
    max-width: 100%;
  }

  body.page-template-template-home .product-benefits-section {
    padding: 50px 9vw 135px;
  }

  body.page-template-template-home .product-benefits-section .text-cnt {
    max-width: 100%;
  }

  body.page-template-template-home .product-details-section {
    flex-direction: column;
    padding: 100px 9vw calc(100px - 9vw);
  }

  body.page-template-template-home .product-details-section .details-container {
    width: 100%;
    padding: 0!important;
    margin-bottom: 120px;
  }

  body.page-template-template-home .product-details-section .details-container:last-child {
    margin-bottom: 0;
  }

  body.page-template-template-home .product-details-section p {
    margin-bottom: 60px;
  }

  body.page-template-template-home .product-details-section a {
    margin-bottom: 30px;
  }

  body.page-template-template-home .product-details-section a:last-child {
    margin-bottom: 0;
  }

  body.page-template-template-home .footer {
    padding: 8.125vw 5.625vw;
  }
}
