//
// Name:            Products
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: Products Page
// ========================================================================
.page-template-template-products {
  #product-flow {
    width: 100vw;
    height: 100vh;
    border-bottom: 2px solid $color-black;
    position: relative;

    .product-flow-section {
      width: calc(148px / 4);
      height: 100vh;
      background: $color-white;
      border-right: 2px solid $color-black;
      overflow: hidden;
      position: absolute;
      top: 0;
      transition: width .5s ease-in-out;

      &.active {
        width: calc(100vw - 148px);
        border: 2px solid $red;
        z-index: 6 !important;
      }

      &.prev {
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            left: calc(148px * (#{$i - 1} / 4));
          }
        }
      }

      &.reset {
        transition: none!important;
      }

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          right: calc(148px * (#{5 - $i} / 4));
          z-index: calc(6 - #{$i});
        }
      }

      &:last-child {
        border-right: none;
      }

      .flow-inner {
        width: calc(100vw - 152px);
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0;
        left: 0;
      }

      .row {
        height: 100%;
      }

      &.landing-flow {
        .col-xs-7 {
          width: 62%;
          max-width: 62%;
          flex-basis: 62%;
          padding: 124px 3.5vw;
          display: flex;
          flex-direction: column;
        }

        .col-xs-5 {
          width: 38%;
          max-width: 38%;
          flex-basis: 38%;
          padding: 0;
        }

        h1 {
          font-family: $schnyder;
          font-size: 72px;
          font-weight: 400;
          color: #111111;
          line-height: 80px;
        }

        .red-underline {
          letter-spacing: 0;
          margin-top: 60px;
          margin-right: auto;
        }

        .highlight {
          font-size: 14px;
          color: $dark-gray;
          letter-spacing: 1px;
          margin-top: 30px;
          margin-right: auto;
          text-transform: uppercase;

          @media (hover: hover) and (pointer: fine) {
            &:hover {
              background-size: 100% 30px;
            }
          }
        }

        .image-container {
          width: 100%;
          height: 100%;
        }
      }

      .label-container {
        height: 80px;
        border-bottom: 1px solid $color-black;
        padding: 27px 43px;

        .prev-options {
          display: inline-block;
        }

        p {
          font-size: 14px;
          color: $dark-gray;
          display: inline-block;
          letter-spacing: 0;
          line-height: 24px;
          margin-top: 0;
          margin-right: 30px;

          &.current {
            color: $color-black;
            margin-right: 0;
          }
        }
      }

      .product-info-container {
        flex: 1;

        .col-xs-3 {
          height: calc(100vh - 80px);
          overflow: scroll;
          padding: 0;

          .scrollable-container {
            height: 100%;
            display: flex;
            flex-direction: column;
          }

          &.green-col {
            width: 24%;
            max-width: 24%;
            flex-basis: 24%;
            background: $dark-green;
            padding: 40px 3vw;

            .option-group {
              margin-bottom: 80px;
            }

            h3 {
              font-size: 14px;
              font-weight: 400;
              line-height: 24px;
            }

            ul {
              list-style: none;
              padding: 0;

              li {
                margin-bottom: 60px;
                position: relative;

                &:last-child {
                  margin-bottom: 0;
                }

                .button-container {
                  margin-top: 30px;

                  a {
                    display: inline-block;

                    &:first-child {
                      margin-right: 30px;
                    }
                  }
                }
              }

              .radiobox {
                width: 25px;
                height: 25px;
                background: none;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: -24px;
                transform: translateY(-50%);
                -webkit-appearance: none;

                input {
                  opacity: 0;
                  position: absolute;
                  top: 50%;
                  left: 0;
                  transform: translateY(-50%);
                }

                img {
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                  opacity: 0;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }

                &.focus + label {
                  border-bottom: 1px solid $color-black;
                }

                &.checked {
                  img {
                    opacity: 1;
                  }
                }
              }

              label {
                cursor: pointer;
                font-size: 34px;
                line-height: 48px;
                text-transform: none;

                &:focus {
                  border-bottom: 1px solid $color-black;
                }
              }
            }

            .results {
              .option {
                margin-top: 30px;

                h4 {
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 24px;
                }

                button {
                  background: none;
                  border: none;
                  display: inline-block;
                  font-size: 34px;
                  line-height: 48px;
                  padding: 0;
                  -webkit-appearance: none;

                  &.active {
                    text-decoration: underline;
                  }
                }
              }
            }
          }

          &.white-col {
            width: 28%;
            max-width: 28%;
            flex-basis: 28%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            -ms-flex-pack: justify;
            padding: 40px 2.5vw;

            .scrollable-container {
              justify-content: space-between;
              -ms-flex-pack: justify;
            }

            .text-cnt {
              max-height: calc(100% - 50px);
              display: flex;
              flex-direction: column;
              flex: 1;
              margin-bottom: auto;
              overflow: scroll;

              .red-underline {
                display: inline-block;
                margin-top: 60px;
                margin-right: auto;
              }
            }

            .buttons-container {
              margin-top: auto;
              display: flex;
              justify-content: space-between;
              -ms-flex-pack: justify;

              button {
                background: none;
                border: none;
                cursor: pointer;
                -webkit-appearance: none;
                text-transform: uppercase;
                position: relative;
                margin-right: 15px;

                &:after {
                  content: '';
                  width: 1px;
                  height: 20px;
                  background: $dark-gray;
                  display: inline-block;
                  position: absolute;
                  top: 50%;
                  left: calc(100% + 7px);
                  transform: translateY(-50%);
                }

                &:last-child {
                  margin-right: 0;

                  &:after {
                    display: none;
                  }
                }

                &:disabled {
                  opacity: .5;
                  cursor: default;
                }
              }

              button, .highlight {
                @include font-europa-bold;
                font-size: 14px;
                color: $dark-gray;
                letter-spacing: 1px;
              }
            }

            .social-links {
              align-items: flex-start;
              -ms-flex-align: flex-start;
              justify-content: flex-start;
              -ms-flex-pack: start;
              margin-top: 0;
              margin-bottom: 40px;
              padding: 0;

              li {
                width: 48px;
                height: 48px;
                display: inline-flex;
                align-items: center;
                -ms-flex-align: center;
                justify-content: center;
                -ms-flex-pack: center;
                margin-bottom: 22px;
                margin-right: 22px;
                position: relative;

                &:nth-child(3) {
                  &:after {
                    content: "\A";
                    white-space: pre;
                  }
                }

                &:last-child {
                  margin-right: 0;
                }

                span {
                  width: 100%;
                  height: 100%;
                  opacity: 0;
                  position: absolute;
                  top: 0;
                  left: 0;
                }

                img {
                  width: auto;
                  max-width: 100%;
                  height: auto;
                  max-height: 100%;
                  margin: auto;
                }
              }
            }

            &.form-container {
              h3 {
                font-size: 14px;
                font-weight: 400;
                color: $dark-gray;
                line-height: 24px;
                margin-bottom: 10px;
              }
            }
          }
        }

        .col-xs-6 {
          width: 48%;
          max-width: 48%;
          flex-basis: 48%;
          padding: 0;

          .image-container {
            width: 100%;
            height: 100%;
          }
        }
      }

      &#flow-form {
        .product-info-container .col-xs-3 {
          height: 100vh;
        }
      }
    }
  }

  #products-list {
    padding: 120px 3.5vw;
    border-top: 2px solid $color-black;

    .option-group {
      margin-bottom: 180px;

      h2 {
        font-family: $schnyder;
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
      }

      .row {
        justify-content: space-between;
        margin: 0;
        padding: 0;
      }

      .col-xs-6 {
        width: 45.4vw;
        max-width: 45.4vw;
        flex-basis: 45.4vw;
        padding: 60px 0 0;

        h3 {
          font-size: 34px;
          font-weight: 400;
          line-height: 48px;
        }

        .image-container {
          width: 100%;
          height: 47.6vw;
          margin-top: 15px;
        }

        .description {
          margin-top: 30px;
          font-size: 16px;
          color: #111111;
          line-height: 28px;
        }

        .series-list {
          margin-top: 30px;
        }

        h4 {
          font-size: 14px;
          font-weight: 400;
          color: $dark-gray;
          line-height: 24px;
        }

        .series-container {
          list-style: none;
          padding: 0;

          li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            position: relative;

            &:last-child {
              margin-right: 0;
            }

            button {
              width: 25px;
              height: 25px;
              background: none;
              border: 1px solid $color-black;
              border-radius: 50%;
              cursor: pointer;
              padding: 0;
              position: relative;

              &:before {
                content: '';
                width: 33px;
                height: 33px;
                border: 2px solid $red;
                border-radius: 50%;
                position: absolute;
                top: -5px;
                left: -5px;
                opacity: 0;
              }

              &.active {
                &:before {
                  opacity: 1;
                }
              }

              .label {
                width: 100%;
                height: 100%;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
              }

              .image-container {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: block;
                margin: 0;
              }
            }
          }
        }

        .series-link-container {
          list-style: none;
          padding: 0;
          position: relative;

          li {
            display: none;
            vertical-align: middle;
            position: absolute;
            top: 0;
            left: 0;

            h5 {
              font-size: 14px;
              font-weight: 400;
              color: $dark-gray;
              letter-spacing: 1px;
              text-transform: uppercase;
            }

            a {
              display: inline-block;

              @media (hover: hover) and (pointer: fine) {
                &:hover {
                  background-size: 100% 30px;
                }
              }
            }

            &.active {
              display: inline-block;
              position: static;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  #js-modal {
    width: 100vw;
    height: 100vh;
    background: $dark-gray;
    border: none;
    overflow: scroll;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;

    #modal-close {
      width: 150px;
      height: 126px;
      background: transparent;
      border-left: 2px solid rgba($color-white, .5);
      border-bottom: 2px solid rgba($color-white, .5);
      cursor: pointer;
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;

      span {
        font-family: $schnyder;
        font-size: 24px;
        font-weight: 400;
        color: $color-white;
        margin: auto;
      }
    }

    .modal__content {
      height: 100%;
    }

    .product-modal-inner {
      width: 100%;
      height: 100%;
      min-height: 850px;
      position: relative;
      z-index: 1;

      .row {
        height: 100%;
        min-height: 850px;
      }

      .col-xs-4 {
        height: 100%;
        min-height: 850px;
        border-right: 2px solid $red;
        padding: 95px 6.6vw;

        h2 {
          font-family: $schnyder;
          font-size: 72px;
          font-weight: 400;
          color: $color-white;
          line-height: 80px;
        }

        p {
          font-size: 16px;
          color: $color-white;
          line-height: 28px;
          margin-top: 60px;
        }
      }

      .col-xs-8 {
        height: 100%;
        min-height: 850px;
        display: flex;
        justify-content: center;
        -ms-flex-pack: center;
        align-items: center;
        -ms-flex-align: center;
        padding: 0 13.9vw 0 1.4vw;

        p {
          width: 100%;
          font-size: 20px;
          color: $color-white;
          line-height: 32px;
        }

        .image-container {
          width: 70vw;
          height: 60vh;
          margin: auto;
        }
      }
    }
  }
}

html.ie {
  .page-template-template-products #product-flow .product-flow-section.landing-flow .highlight:hover {
    background-size: 100% 30px;
  }
}

@media (max-width: 1200px) {
  .page-template-template-products #js-modal .product-modal-inner .col-xs-4 {
    padding: 95px 2.5vw;
  }

  .page-template-template-products #js-modal .product-modal-inner .col-xs-4 h2 {
    font-size: 65px;
  }
}

@media (max-width: 1024px) {
  .page-template-template-products #js-modal .product-modal-inner .row {
    display: block;
  }

  .page-template-template-products #js-modal .product-modal-inner .col-xs-8,
  .page-template-template-products #js-modal .product-modal-inner .col-xs-4 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    height: auto;
    min-height: 0;
  }

  .page-template-template-products #js-modal .product-modal-inner .col-xs-8 {
    padding: 50px 3.4vw;
  }

  .page-template-template-products #js-modal .product-modal-inner .col-xs-4 {
    border-bottom: 2px solid $red;
    border-right: none;
    padding: 100px 3.4vw 50px;
  }
}

@media (max-width: 768px) {
  .page-template-template-products #product-flow .product-flow-section {
    width: calc(78px / 4);

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        right: calc(78px * (#{5 - $i} / 4));
        z-index: calc(6 - #{$i});
      }
    }

    &.prev {
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          left: calc(78px * (#{$i - 1} / 4));
        }
      }
    }
  }

  .page-template-template-products #product-flow .product-flow-section.active {
    width: calc(100vw - 78px);
  }

  .page-template-template-products #product-flow .product-flow-section .flow-inner {
    width: calc(100vw - 78px);
  }

  .page-template-template-products #product-flow .product-flow-section.landing-flow .col-xs-7 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  .page-template-template-products #product-flow .product-flow-section.landing-flow .col-xs-7 h1 {
    font-size: 64px;
    color: #111111;
    line-height: 72px;
  }

  .page-template-template-products #product-flow .product-flow-section.active:not(.landing-flow) {
    border: none;
  }

  .page-template-template-products #product-flow .product-flow-section.active:not(.landing-flow) .col-xs-3.green-col {
    background: $color-white;
    border: 2px solid $red;
  }

  .page-template-template-products #product-flow .product-flow-section .product-info-container .row {
    position: relative;
  }

  .page-template-template-products #product-flow .product-flow-section .label-container,
  .page-template-template-products #product-flow .product-flow-section .product-info-container .col-xs-6,
  .page-template-template-products #product-flow .product-flow-section .product-info-container .col-xs-3.white-col .text-cnt {
    display: none;
  }

  .page-template-template-products #product-flow .product-flow-section .product-info-container .col-xs-3.green-col,
  .page-template-template-products #product-flow .product-flow-section .product-info-container .col-xs-3.white-col {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  .page-template-template-products #product-flow .product-flow-section .product-info-container .col-xs-3.green-col {
    height: calc(100vh - 50px);
    padding: 40px 5vw 120px;
  }

  .page-template-template-products #product-flow .product-flow-section .product-info-container .col-xs-3.white-col {
    height: 50px;
    padding: 5px 3.5vw;
    border-right: 2px solid $color-black;
  }

  .page-template-template-products #product-flow .product-flow-section .product-info-container .col-xs-3 .scrollable-container {
    height: auto;
    margin: auto 0;
  }

  .page-template-template-products #product-flow .product-flow-section .product-info-container .col-xs-3.white-col .buttons-container {
    margin: auto 0;
  }

  .page-template-template-products #product-flow .product-flow-section .product-info-container .col-xs-3.green-col .option-group {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .page-template-template-products #product-flow .product-flow-section .product-info-container .col-xs-3.green-col .option-group:first-child {
    margin-top: 0;
  }

  .page-template-template-products #product-flow .product-flow-section .product-info-container .col-xs-3.green-col .select-button-container {
    width: calc(100% - 4px);
    background: $color-white;
    border-top: 2px solid rgba($dark-gray, .6);
    border-bottom: 2px solid $red;
    padding: 25px 3.5vw;
    position: absolute;
    top: calc(100% - 50px);
    left: 2px;
    transform: translateY(-100%);
  }

  .page-template-template-products #product-flow .product-flow-section .product-info-container .col-xs-3.green-col .select-button-container a {
    display: inline-block;
    margin-top: 0;
    margin-right: 15px;
  }

  .page-template-template-products #product-flow .product-flow-section .product-info-container .col-xs-3.green-col .option-group .select-button-container a {
    display: inline-block!important;
    margin-right: 15px;
  }

  .page-template-template-products #product-flow .product-flow-section .product-info-container .col-xs-3.green-col ul .radiobox {
    width: 20px;
    max-width: 5vw;
    height: 20px;
    max-height: 5vw;
    top: 24px;
    left: calc(-2.5vw);
    transform: translate(-50%, -50%);
  }

  .page-template-template-products #product-flow .product-flow-section#flow-form .product-info-container .col-xs-3.white-col .text-cnt {
    display: block;
  }

  .page-template-template-products #product-flow .product-flow-section#flow-form .product-info-container .col-xs-3.green-col {
    height: 45vh;
  }

  .page-template-template-products #product-flow .product-flow-section#flow-form .product-info-container .col-xs-3.white-col {
    height: 55vh;
  }

  .page-template-template-products #js-modal #modal-close {
    width: auto;
    height: 65px;
    padding: 0 15px;
  }
}

@media (max-width: 581px) {
  .page-template-template-products #product-flow .product-flow-section.landing-flow .col-xs-7 {
    padding: 75px 3.5vw;
  }

  .page-template-template-products #product-flow .product-flow-section.landing-flow .col-xs-7 h1 {
    font-size: 48px;
    line-height: 62px;
  }

  .page-template-template-products #product-flow .product-flow-section .product-info-container .col-xs-3.green-col .select-button-container {
    padding: 15px 3.5vw;
  }

  .page-template-template-products #product-flow .product-flow-section .product-info-container .col-xs-3.green-col .select-button-container a {
    font-size: 18px;
  }

  .page-template-template-products #product-flow .product-flow-section .product-info-container .col-xs-3.green-col ul li .button-container {
    margin-top: 15px;
  }

  .page-template-template-products #products-list .option-group .col-xs-6 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    margin-bottom: 30px;
    padding-top: 30px;
  }

  .page-template-template-products #products-list {
    padding: 50px 3.5vw;
  }

  .page-template-template-products #products-list .option-group .col-xs-6 .image-container {
    height: 93vw;
    margin-top: 30px;
  }

  .page-template-template-products #products-list .option-group {
    margin-bottom: 100px;
  }

  .page-template-template-products #js-modal #js-modal-close,
  .page-template-template-about #js-modal .close {
    width: 125px;
    height: 100px;
  }

  .page-template-template-products #js-modal .product-modal-inner .col-xs-4 {
    padding: 125px 5vw 30px;
  }

  .page-template-template-products #js-modal .product-modal-inner .col-xs-8 {
    padding: 30px 5vw;
  }

  .page-template-template-products #js-modal .product-modal-inner .col-xs-4 h2 {
    font-size: 48px;
    line-height: 58px;
  }

  .page-template-template-products #js-modal .product-modal-inner .col-xs-4 p {
    margin-top: 30px;
  }
}