//
// Name:            Where To Buy
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: Where To Buy Page
// ========================================================================
.page-template-template-where-to-buy {
  #banner {
    border-bottom: 1px solid $color-black;
    padding: 64px 3.4vw;

    h1 {
      max-width: 60%;
      font-family: $schnyder;
      font-size: 72px;
      font-weight: 400;
      color: #111111;
      line-height: 80px;
    }
  }

  #locations {
    .row {
      margin: 0;
      padding: 0;
    }

    .col-xs-5 {
      width: 44%;
      max-width: 44%;
      flex-basis: 44%;
      border-right: 1px solid $color-black;
      padding: 0;
      position: relative;

      .scrollable {
        height: 50.625vw;
        position: static;
        overflow: scroll;
      }

      .search-cnt {
        padding: 60px 0 0;
        position: static;

        p {
          font-size: 20px;
          color: #111111;
          line-height: 32px;
          padding: 0 6.7vw 0 3.5vw;
          margin-bottom: 60px;
        }

        form {
          background: $color-white;
          display: flex;
          align-items: flex-end;
          -ms-flex-align: end;
          padding: 0 6.7vw 60px 3.5vw;

          fieldset {
            display: inline-block;
            vertical-align: bottom;
            margin-right: 6%;

            &.zip_code_field {
              width: 23%;
            }

            &.radius_field {
              width: 40%;
            }
          }

          button {
            height: auto;
            display: inline-block;
            vertical-align: bottom;
          }

          &.sticky {
            width: 100%;
            margin-top: 0;
            padding: 30px 6.7vw 30px 3.5vw;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
          }
        }
      }
    }

    .zip-radius {
      p {
        font-family: $schnyder;
        font-size: 32px;
        font-weight: 400;
        color: #111111;
        display: inline-block;
        vertical-align: middle;
        line-height: 40px;
        margin-top: 0;
        margin-right: 20px;
        padding-right: 20px;
        position: relative;

        &:after {
          content: '';
          width: 1px;
          height: 100%;
          background: #111111;
          display: inline-block;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }

        &:last-child {
          margin-right: 0;
          padding-right: 0;

          &:after {
            display: none;
          }
        }
      }
    }

    .results {
      background: $dark-green;
      padding: 58px 8vw 58px 3.5vw;

      .no-results {
        margin-bottom: 30px;

        p {
          font-size: 22px;
          color: #111111;
          line-height: 30px;
          margin-bottom: 15px;
        }

        a {
          font-size: 14px;
          color: $dark-gray;
          letter-spacing: 1px;
        }
      }

      h2 {
        font-size: 14px;
        font-weight: 400;
        color: $color-black;
        line-height: 24px;
        margin-bottom: 18px;
      }

      .location {
        display: flex;
        margin-bottom: 90px;

        &:last-child {
          margin-bottom: 0;
        }

        .pin {
          display: inline-block;
          vertical-align: top;
          margin-right: 30px;
          position: relative;

          &:after {
            content: '';
            width: 2px;
            height: 41px;
            background: $color-black;
            display: inline-block;
            position: absolute;
            top: 22px;
            left: 50%;
            transform: translateX(-50%);
          }

          .number {
            width: 22px;
            height: 22px;
            position: relative;
            font-size: 12px;
            color: $color-white;

            p {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 1;
            }

            img {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }

        .text-cnt {
          display: inline-block;
          vertical-align: top;
          h3 {
            font-family: $schnyder;
            font-size: 32px;
            font-weight: 400;
            color: #111111;
            line-height: 40px;
          }

          .address {
            font-size: 18px;
            line-height: 32px;
            margin-top: 15px;

            p,
            address {
              margin-top: 0;
            }
          }

          .links {
            margin-top: 24px;

            a {
              color: $dark-gray;
              display: inline-block;
              vertical-align: top;
              font-size: 14px;
              letter-spacing: 1px;
              margin-right: 30px;

              &:last-child {
                margin-right: 0;
              }

              @media (hover: hover) and (pointer: fine) {
                &:hover {
                  background-size: 100% 24px;
                }
              }
            }
          }
        }
      }
    }

    .col-xs-7 {
      width: 56%;
      max-width: 56%;
      flex-basis: 56%;
      padding: 0;

      #map {
        width: 100%;
        height: 50.625vw;
      }
    }
  }
}

html.ie {
  .page-template-template-where-to-buy #locations .col-xs-5 .results .location .text-cnt .links a:focus,
  .page-template-template-where-to-buy #locations .col-xs-5 .results .location .text-cnt .links a:hover {
    background-size: 100% 24px;
  }
}

@media (max-width: 768px) {
  .page-template-template-where-to-buy #banner {
    padding: 50px 3.5vw;
  }

  .page-template-template-where-to-buy #banner h1 {
    max-width: 80%;
    font-size: 64px;
    line-height: 72px;
  }

  .page-template-template-where-to-buy #locations .col-xs-5 .scrollable,
  .page-template-template-where-to-buy #locations .col-xs-7 #map {
    height: 70vw;
  }

  .page-template-template-where-to-buy #locations .col-xs-5 .results {
    padding: 50px 3.5vw;
  }

  .page-template-template-where-to-buy #locations .col-xs-5 .results .location .text-cnt h3 {
    font-size: 28px;
    height: 42px;
  }
}

@media (max-width: 581px) {
  .page-template-template-where-to-buy #banner h1 {
    max-width: 100%;
    font-size: 48px;
    line-height: 62px;
  }

  .page-template-template-where-to-buy #locations .col-xs-5 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    height: 100%;
    border-right: none;
    position: static!important;
    top: 0;
    left: 0;
  }

  .page-template-template-where-to-buy #locations .col-xs-5 .scrollable {
    height: 100%;
  }

  .page-template-template-where-to-buy #locations .col-xs-7 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  .page-template-template-where-to-buy #locations .col-xs-12 {
    padding: 0;
  }

  .page-template-template-where-to-buy #locations .results {
    padding: 50px 3.5vw;
  }
}
