{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
    <section id="banner">
        <div class="banner-inner">
            <div class="bg-images">
                <div class="bg-images-inner">
                    <div class="image">
                        <div class="image-container">
                            <img src="" data-image="images/bw-gloss-soft-white.jpg" alt="Gloss Soft White">
                        </div>
                    </div>
                    <div class="image">
                        <div class="image-container">
                            <img src="" data-image="images/bw-gloss-white-2.jpg" alt="Gloss White">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-cnt">
                <h1>404</h1>
                <span class="divider"></span>
                <p>That page doesn't exist</p>
            </div>
        </div>
    </section>
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}