{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
    <section id="banner">
        <h1>About lorem ipsum dolor sit amet</h1>
        <div class="image-container">
            <img src="images/sanding.jpg" alt="sanding during construction of cabinet">
        </div>
    </section>
    <section id="our-vision">
        <div class="text-cnt">
            <h2>Our vision</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="image-container">
            <img src="" data-image="images/inspecting-manufacturing-process.jpg" alt="inspecting manufacturing process">
        </div>
    </section>
    <section id="quote-ticker">
        <div class="quote-ticker-container">
            <div class="quote-ticker-inner">
                <div class="quote-ticker-item">“Design is not just what it looks like and feels like. Design is how it
                    works.” Steve Job
                </div>
            </div>
        </div>
    </section>
    <section id="our-team">
        <div class="text-cnt">
            <h2>Our Team</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut
                labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
                tempor
                incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="team-container">
            <div class="team-inner">
                <div class="team-col">
                    <div class="team-member-card">
                        <a href="#henrietta-dean" class="js-modal" data-modal-content-id="henrietta-dean"
                           data-modal-close-text="Close">
                            <div class="image-container">
                                <img src="" data-image="images/henrietta-dean.jpg" alt="Henrietta Dean">
                            </div>
                            <div class="text-cnt">
                                <h2>Henrietta Dean</h2>
                                <p>Title</p>
                            </div>
                        </a>
                    </div>
                    <div class="team-member-card">
                        <a href="#glenn-ferguson" class="js-modal" data-modal-content-id="glenn-ferguson"
                           data-modal-close-text="Close">
                            <div class="image-container">
                                <img src="" data-image="images/glenn-ferguson.jpg" alt="Glenn Ferguson">
                            </div>
                            <div class="text-cnt">
                                <h2>Glenn Ferguson</h2>
                                <p>Title</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="team-col">
                    <div class="team-member-card">
                        <a href="#louise-banks" class="js-modal" data-modal-content-id="louise-banks"
                           data-modal-close-text="Close">
                            <div class="image-container">
                                <img src="" data-image="images/louise-banks.jpg" alt="Louise Banks">
                            </div>
                            <div class="text-cnt">
                                <h2>Louise Banks</h2>
                                <p>Title</p>
                            </div>
                        </a>
                    </div>
                    <div class="team-member-card">
                        <a href="#glenn-ferguson" class="js-modal" data-modal-content-id="glenn-ferguson"
                           data-modal-close-text="Close">
                            <div class="image-container">
                                <img src="" data-image="images/glenn-ferguson.jpg" alt="Glenn Ferguson">
                            </div>
                            <div class="text-cnt">
                                <h2>Glenn Ferguson</h2>
                                <p>Title</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="team-col">
                    <div class="team-member-card">
                        <a href="#henrietta-dean" class="js-modal" data-modal-content-id="henrietta-dean"
                           data-modal-close-text="Close">
                            <div class="image-container">
                                <img src="" data-image="images/henrietta-dean.jpg" alt="Henrietta Dean">
                            </div>
                            <div class="text-cnt">
                                <h2>Henrietta Dean</h2>
                                <p>Title</p>
                            </div>
                        </a>
                    </div>
                    <div class="team-member-card">
                        <a href="#glenn-ferguson" class="js-modal" data-modal-content-id="glenn-ferguson"
                           data-modal-close-text="Close">
                            <div class="image-container">
                                <img src="" data-image="images/glenn-ferguson.jpg" alt="Glenn Ferguson">
                            </div>
                            <div class="text-cnt">
                                <h2>Glenn Ferguson</h2>
                                <p>Title</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="team-col">
                    <div class="team-member-card">
                        <a href="#louise-banks" class="js-modal" data-modal-content-id="louise-banks"
                           data-modal-close-text="Close">
                            <div class="image-container">
                                <img src="" data-image="images/louise-banks.jpg" alt="Louise Banks">
                            </div>
                            <div class="text-cnt">
                                <h2>Louise Banks</h2>
                                <p>Title</p>
                            </div>
                        </a>
                    </div>
                    <div class="team-member-card">
                        <a href="#glenn-ferguson" class="js-modal" data-modal-content-id="glenn-ferguson"
                           data-modal-close-text="Close">
                            <div class="image-container">
                                <img src="" data-image="images/glenn-ferguson.jpg" alt="Glenn Ferguson">
                            </div>
                            <div class="text-cnt">
                                <h2>Glenn Ferguson</h2>
                                <p>Title</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="our-process">
        <div class="text-cnt">
            <h2>Our Process</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut
                labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod
                tempor
                incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="swiper-container image-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="image-container">
                        <img src="" data-image="images/business-meeting.jpg" alt="two people going over documents">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image-container youtube">
                        <iframe width="560" height="315" src="" data-video="https://www.youtube.com/embed/oznr-1-poSU" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image-container">
                        <video controls playsinline>
                            <source src="" data-video="media/website-homepage.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image-container">
                        <img src="" data-image="images/sanding.jpg" alt="sanding during construction of cabinet">
                    </div>
                </div>
            </div>
            <div class="swiper-navigation">
                <div class="swiper-navigation-inner">
                    <button class="swiper-button-prev">Prev</button>
                    <button class="swiper-button-next">Next</button>
                </div>
            </div>
        </div>
        <div class="swiper-container caption-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <p class="caption">Optional caption lorem ipsum dolor</p>
                </div>
                <div class="swiper-slide">
                    <p class="caption">Optional caption lorem ipsum dolor</p>
                </div>
                <div class="swiper-slide">
                    <p class="caption">Optional caption lorem ipsum dolor</p>
                </div>
                <div class="swiper-slide">
                    <p class="caption">Optional caption lorem ipsum dolor</p>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="text-cnt">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="red-underline">Get in Touch<span class="underline"></span></a>
        </div>
    </section>
</main>
<div id="henrietta-dean" class="team-modal">
    <div class="bg-images">
        <div class="bg-images-inner">
            <div class="image-container">
                <img src="" data-image="images/henrietta-dean.jpg" alt="Henrietta Dean">
            </div>
            <div class="image-container">
                <img src="" data-image="images/henrietta-dean.jpg" alt="Henrietta Dean">
            </div>
        </div>
    </div>
    <div class="team-modal-inner">
        <div class="row">
            <div class="col-xs-4">
                <div class="text-cnt">
                    <h2>Henrietta Dean</h2>
                    <p>Title</p>
                </div>
            </div>
            <div class="col-xs-8">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>
<div id="glenn-ferguson" class="team-modal">
    <div class="bg-images">
        <div class="bg-images-inner">
            <div class="image-container">
                <img src="" data-image="images/henrietta-dean.jpg" alt="Henrietta Dean">
            </div>
            <div class="image-container">
                <img src="" data-image="images/henrietta-dean.jpg" alt="Henrietta Dean">
            </div>
        </div>
    </div>
    <div class="team-modal-inner">
        <div class="row">
            <div class="col-xs-4">
                <div class="text-cnt">
                    <h2>Glenn Ferguson</h2>
                    <p>Title</p>
                </div>
            </div>
            <div class="col-xs-8">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>
<div id="louise-banks" class="team-modal">
    <div class="bg-images">
        <div class="bg-images-inner">
            <div class="image-container">
                <img src="" data-image="images/henrietta-dean.jpg" alt="Henrietta Dean">
            </div>
            <div class="image-container">
                <img src="" data-image="images/henrietta-dean.jpg" alt="Henrietta Dean">
            </div>
        </div>
    </div>
    <div class="team-modal-inner">
        <div class="row">
            <div class="col-xs-4">
                <div class="text-cnt">
                    <h2>Louise Banks</h2>
                    <p>Title</p>
                </div>
            </div>
            <div class="col-xs-8">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>
{{> ../footer/_footer}}
{{> ../footer/_foot}}