{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
    <section id="banner">
        <h1>Contact lorem ipsum dolor sit amet</h1>
    </section>
    <section id="location">
        <div class="row">
            <div class="col-xs-6">
                <div class="address">
                    <p>1234 Street Name</p>
                    <p>Denver, CO 12345</p>
                </div>
                <a href="tel:" class="highlight green">123.456.7890</a>
                <a href="mailto:" class="highlight green">email@email.com</a>
            </div>
            <div class="col-xs-6">
                <div id="map"></div>
            </div>
        </div>
    </section>
    <section id="contact-form">
        <div class="row">
            <div class="col-xs-5">
                <div class="image-container">
                    <img src="" data-image="images/gloss-soft-white-2.jpg" alt="Gloss Soft White">
                </div>
            </div>
            <div class="col-xs-7">
                <div class="gf_browser_chrome gform_wrapper gform_validation_error">
                    <form method="post" enctype="multipart/form-data" action="/contact.html/#gf_17">
                        <div class="gform_heading">
                            <h3 class="gform_title">Get in touch</h3>
                            <span class="gform_description"></span>
                        </div>
                        <div class="gform_body">
                            <ul class="gform_fields top_label form_sublabel_below description_below">
                                <li class="gfield field_sublabel_above field_description_below gfield_visibility_visible">
                                    <label class="gfield_label gfield_label_before_complex" for="input_17_4_3"></label>
                                    <div class="ginput_complex ginput_container no_prefix has_first_name
                                    no_middle_name has_last_name no_suffix gf_name_has_2 ginput_container_name gfield_trigger_change">
                                        <span class="name_first">
                                            <label for="input_17_4_3">First Name</label>
                                            <input type="text" name="input_4.3" id="input_17_4_3" value=""
                                                   aria-label="First name" aria-invalid="false">
                                        </span>
                                        <span id="input_17_4_6_container" class="name_last">
                                            <label for="input_17_4_6">Last Name</label>
                                            <input type="text" name="input_4.6" id="input_17_4_6"
                                                   value="" aria-label="Last name" aria-invalid="false">
                                        </span>

                                    </div>
                                </li>
                                <li class="gfield field_sublabel_below field_description_below
                                gfield_visibility_visible gfield_error">
                                    <label class="gfield_label" for="input_17_6">Company</label>
                                    <div class="ginput_container ginput_container_text">
                                        <input name="input_6" id="input_17_6" type="text" value="" class="medium"
                                               aria-invalid="false">
                                    </div>
                                    <div class="gfield_description validation_message">This field is required</div>
                                </li>
                                <li id="field_17_7"
                                    class="gfield field_sublabel_above field_description_below gfield_visibility_visible">
                                    <div class="ginput_complex ginput_container has_street has_street2 has_city has_state has_zip ginput_container_address gfield_trigger_change"
                                         id="input_17_7">

                                        <span class="ginput_full address_line_1" id="input_17_7_1_container">
                                            <label for="input_17_7_1" id="input_17_7_1_label">Street Address</label>
                                            <input type="text" name="input_7.1" id="input_17_7_1" value="">
                                        </span>
                                        <span class="ginput_full address_line_2" id="input_17_7_2_container">
                                            <label for="input_17_7_2" id="input_17_7_2_label">Address Line 2</label>
                                            <input type="text" name="input_7.2" id="input_17_7_2" value="">
                                        </span>
                                        <span class="ginput_left address_city" id="input_17_7_3_container">
                                            <label for="input_17_7_3" id="input_17_7_3_label">City</label>
                                            <input type="text" name="input_7.3" id="input_17_7_3" value="">
                                        </span>
                                        <span class="ginput_right address_state" id="input_17_7_4_container">
                                            <label for="input_17_7_4" id="input_17_7_4_label">State</label>
                                            <select name="input_7.4" id="input_17_7_4">
                                                <option value="" selected="selected"></option>
                                                <option value="Alabama">Alabama</option>
                                                <option value="Alaska">Alaska</option>
                                                <option value="Arizona">Arizona</option>
                                                <option value="Arkansas">Arkansas</option>
                                                <option value="California">California</option>
                                                <option value="Colorado">Colorado</option>
                                                <option value="Connecticut">Connecticut</option>
                                                <option value="Delaware">Delaware</option>
                                                <option value="District of Columbia">District of Columbia</option>
                                                <option value="Florida">Florida</option>
                                                <option value="Georgia">Georgia</option>
                                                <option value="Hawaii">Hawaii</option>
                                                <option value="Idaho">Idaho</option>
                                                <option value="Illinois">Illinois</option>
                                                <option value="Indiana">Indiana</option>
                                                <option value="Iowa">Iowa</option>
                                                <option value="Kansas">Kansas</option>
                                                <option value="Kentucky">Kentucky</option>
                                                <option value="Louisiana">Louisiana</option>
                                                <option value="Maine">Maine</option>
                                                <option value="Maryland">Maryland</option>
                                                <option value="Massachusetts">Massachusetts</option>
                                                <option value="Michigan">Michigan</option>
                                                <option value="Minnesota">Minnesota</option>
                                                <option value="Mississippi">Mississippi</option>
                                                <option value="Missouri">Missouri</option>
                                                <option value="Montana">Montana</option>
                                                <option value="Nebraska">Nebraska</option>
                                                <option value="Nevada">Nevada</option>
                                                <option value="New Hampshire">New Hampshire</option>
                                                <option value="New Jersey">New Jersey</option>
                                                <option value="New Mexico">New Mexico</option>
                                                <option value="New York">New York</option>
                                                <option value="North Carolina">North Carolina</option>
                                                <option value="North Dakota">North Dakota</option>
                                                <option value="Ohio">Ohio</option>
                                                <option value="Oklahoma">Oklahoma</option>
                                                <option value="Oregon">Oregon</option>
                                                <option value="Pennsylvania">Pennsylvania</option>
                                                <option value="Rhode Island">Rhode Island</option>
                                                <option value="South Carolina">South Carolina</option>
                                                <option value="South Dakota">South Dakota</option>
                                                <option value="Tennessee">Tennessee</option>
                                                <option value="Texas">Texas</option>
                                                <option value="Utah">Utah</option>
                                                <option value="Vermont">Vermont</option>
                                                <option value="Virginia">Virginia</option>
                                                <option value="Washington">Washington</option>
                                                <option value="West Virginia">West Virginia</option>
                                                <option value="Wisconsin">Wisconsin</option>
                                                <option value="Wyoming">Wyoming</option>
                                                <option value="Armed Forces Americas">Armed Forces Americas</option>
                                                <option value="Armed Forces Europe">Armed Forces Europe</option>
                                                <option value="Armed Forces Pacific">Armed Forces Pacific</option>
                                            </select>
                                        </span>
                                        <span class="ginput_left address_zip" id="input_17_7_5_container">
                                            <label for="input_17_7_5" id="input_17_7_5_label">ZIP Code</label>
                                            <input type="text" name="input_7.5" id="input_17_7_5" value="">
                                        </span>
                                        <input type="hidden" class="gform_hidden" name="input_7.6" id="input_17_7_6"
                                               value="United States">
                                        <div class="gf_clear gf_clear_complex"></div>
                                    </div>
                                </li>
                                <li id="field_17_8"
                                    class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                                    <label class="gfield_label" for="input_17_8">Email</label>
                                    <div class="ginput_container ginput_container_email">
                                        <input name="input_8" id="input_17_8" type="text" value="" class="medium"
                                               aria-invalid="false">
                                    </div>
                                </li>
                                <li id="field_17_9"
                                    class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                                    <label class="gfield_label" for="input_17_9">Phone</label>
                                    <div class="ginput_container ginput_container_text">
                                        <input name="input_9" id="input_17_9" type="text" value="" class="medium"
                                               aria-invalid="false">
                                    </div>
                                </li>
                                <li id="field_17_10"
                                    class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                                    <label class="gfield_label" for="input_17_10">Contact Reason</label>
                                    <div class="ginput_container ginput_container_select">
                                        <select name="input_10" id="input_17_10" class="medium gfield_select"
                                                aria-invalid="false">
                                            <option value="First Choice">First Choice</option>
                                            <option value="Second Choice">Second Choice</option>
                                            <option value="Third Choice">Third Choice</option>
                                        </select>
                                    </div>
                                </li>
                                <li id="field_17_11"
                                    class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                                    <label class="gfield_label" for="input_17_11">Message</label>
                                    <div class="ginput_container ginput_container_textarea">
                                        <textarea name="input_11" id="input_17_11" class="textarea medium"
                                                  aria-invalid="false" rows="10" cols="50"></textarea>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="gform_footer top_label">
                            <input type="submit" id="gform_submit_button_17" class="gform_button button"
                                   value="Submit" onclick="if(window[&quot;gf_submitting_17&quot;]){return false;}
                                   window[&quot;gf_submitting_17&quot;]=true;  "
                                   onkeypress="if( event.keyCode == 13 ){ if(window[&quot;gf_submitting_17&quot;]){return false;} window[&quot;gf_submitting_17&quot;]=true;  jQuery(&quot;#gform_17&quot;).trigger(&quot;submit&quot;,[true]); }">
                            <input type="hidden" class="gform_hidden" name="is_submit_17" value="1">
                            <input type="hidden" class="gform_hidden" name="gform_submit" value="17">

                            <input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
                            <input type="hidden" class="gform_hidden" name="state_17"
                                   value="WyJbXSIsIjAwMGNlZjZjNTc2ZTM0YTRhNDM2NzMyNDUxNmUwNWI0Il0=">
                            <input type="hidden" class="gform_hidden" name="gform_target_page_number_17"
                                   id="gform_target_page_number_17" value="0">
                            <input type="hidden" class="gform_hidden" name="gform_source_page_number_17"
                                   id="gform_source_page_number_17" value="1">
                            <input type="hidden" name="gform_field_values" value="">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<!--Need to replace api key with Primary Kitchen's-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt0e1-Q3IaqhKRRYyIIU7od7Cttcn_5OA&libraries=geometry"></script>
{{> ../footer/_footer}}
{{> ../footer/_foot}}