{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
    <section id="left-section">
        <div class="section-inner">
            <div class="banner-cnt">
                <h2>Product Image/Text Styles</h2>
                <form action="/home-demo.html" method="post" id="product-image-styles">
                    <fieldset>
                        <h3>Image Style</h3>
                        <div>
                            <label for="product-image-width">Image Width (Percent of Right Section Width):</label>
                            <input id="product-image-width" type="number" name="product-image-width" min="1" max="100"
                                   placeholder="100">
                        </div>
                        <div>
                            <label for="product-image-aspect-ratio">Image Aspect Ratio (W:H):</label>
                            <select id="product-image-aspect-ratio" name="product-image-aspect-ratio">
                                <option value="">Select Aspect Ratio</option>
                                <option value="1:1">1:1</option>
                                <option value="3:2">3:2</option>
                                <option value="4:3">4:3</option>
                                <option value="16:9">16:9</option>
                                <option value="3:4">3:4</option>
                            </select>
                            <!--<input id="product-image-aspect-ratio" type="text" name="product-image-aspect-ratio" min="1"-->
                                   <!--max="100"-->
                                   <!--placeholder="100">-->
                        </div>
                        <div>
                            <div>
                                <input type="radio" id="product-image-left" name="product-image-position" value="left">
                                <label for="product-image-left">Left</label>
                                <input type="radio" id="product-image-right" name="product-image-position"
                                       value="right">
                                <label for="product-image-right">Right</label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h3>Text Position</h3>
                        <div>
                            <input type="checkbox" name="has-text" id="has-text">
                            <label for="has-text">Check to show Text</label>
                        </div>
                        <div>
                            <input type="radio" id="product-text-top" name="product-text-position-vertical"
                                   value="top">
                            <label for="product-text-top">Top</label>
                            <input type="radio" id="product-text-bottom" name="product-text-position-vertical"
                                   value="bottom" checked>
                            <label for="product-text-bottom">Bottom</label>
                        </div>
                        <div>
                            <input type="radio" id="product-text-left" name="product-text-position-horizontal"
                                   value="left" checked>
                            <label for="product-text-left">Left</label>
                            <input type="radio" id="product-text-right" name="product-text-position-horizontal"
                                   value="right">
                            <label for="product-text-right">Right</label>
                        </div>
                        <div>
                            <label for="product-text-margin">Left/Right Margin (Percent):</label>
                            <input id="product-text-margin" type="number" name="product-text-side-margin" min="0"
                                   max="100" placeholder="7">
                        </div>
                    </fieldset>
                    <fieldset>
                        <h3>Red Box</h3>
                        <div>
                            <input type="checkbox" name="has-redbox" id="has-redbox">
                            <label for="has-redbox">Check to show red box</label>
                        </div>
                        <div>
                            <label for="red-box-width">Red Box Width (Percent):</label>
                            <input id="red-box-width" type="number" name="red-box-width" min="1" max="100"
                                   placeholder="100">
                        </div>
                        <div>
                            <label for="red-box-height">Red Box Height (Percent):</label>
                            <input id="red-box-height" type="number" name="red-box-height" min="1" max="100"
                                   placeholder="100">
                        </div>
                        <div>
                            <label for="red-box-top">Red Box Top Margin (Percent):</label>
                            <input id="red-box-top" type="number" name="red-box-top" min="0" max="100"
                                   placeholder="100">
                        </div>
                        <div>
                            <label for="red-box-left">Red Box Left Margin (Percent):</label>
                            <input id="red-box-left" type="number" name="red-box-left" min="0" max="100"
                                   placeholder="100">
                        </div>
                    </fieldset>
                    <button type="submit">Update Style</button>
                </form>
            </div>
        </div>
    </section>
    <section id="right-section">
        <div class="section-inner">
            <div class="product-item">
                <div class="product-inner">
                    <div class="image-container">
                        <img src="images/homepage-banner.png" alt="modern styled kitchen">
                    </div>
                    <div class="text-cnt bottom hidden">
                        <p>Product Name</p>
                        <a href="#">Learn More</a>
                    </div>
                    <div class="red-box hidden">
                        <div class="red-box-inner">
                            <div class="top"></div>
                            <div class="right"></div>
                            <div class="bottom"></div>
                            <div class="left"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}