{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
    <div id="left-section" class="page-col">
        <div class="section-inner">
            <div class="col-header">
                <a href="/" class="logo">
                    <span>Primary Kitchen</span>
                    <img src="images/pk-logo.svg" alt="Primary Kitchen">
                </a>
            </div>
            <section id="banner" class="banner-section">
                <h1>Lorem ipsum dolor sit amet</h1>
                <a href="#" class="red-underline">Find a Dealer<span class="underline"></span></a>
                <div class="scroll-indicator">
                    <img src="images/scroll-arrow.svg" alt="scroll to continue">
                    <p>Scroll</p>
                </div>
            </section>
            <section id="product-benefits" class="product-benefits-section">
                <div class="text-cnt">
                    <h2>Product benefits lorem ipsum</h2>
                    <div class="divider"></div>
                    <p>High-quality finished kitchens, <span class="highlight white">faster</span>.</p>
                    <p>A <span class="highlight white">new kitchen</span> feel that doesn’t fade.</p>
                    <p>Designed to fit <span class="highlight white">your style</span>.</p>
                </div>
            </section>
            <section id="product-details" class="product-details-section">
                <div class="details-container">
                    <h2>Our products</h2>
                    <p>Short description lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="red-underline">Learn More<span class="underline"></span></a>
                    <a href="#" class="red-underline">Where to Buy<span class="underline"></span></a>
                </div>
                <div class="details-container">
                    <h2>The people behind the products</h2>
                    <p>Short description lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="red-underline">About Us<span class="underline"></span></a>
                </div>
            </section>
            <section id="contact" class="contact-section">
                <h2>Contact us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                <a href="#" class="red-underline">Get in Touch<span class="underline"></span></a>
            </section>
            <section id="footer-homepage" class="footer">
                <a href="tel:###-###-####" class="highlight green">123.456.7890</a>
                <a href="mailto:email@email.com" class="highlight green">email@email.com</a>
                <div class="address">
                    <p>1234 Street Name</p>
                    <p>Denver, CO 12345</p>
                </div>
                <ul class="social-links">
                    <li>
                        <a href="#" target="_blank">
                            <span>facebook</span>
                            {{>../modules/social-icons/_facebook}}
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>twitter</span>
                            {{>../modules/social-icons/_twitter}}
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>youtube</span>
                            {{>../modules/social-icons/_youtube}}
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>linkedin</span>
                            {{>../modules/social-icons/_linkedin}}
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>vimeo</span>
                            {{>../modules/social-icons/_vimeo}}
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>pinterest</span>
                            {{>../modules/social-icons/_pinterest}}
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>houzz</span>
                            {{>../modules/social-icons/_houzz}}
                        </a>
                    </li>
                </ul>
                <a href="#" class="dealer-login highlight green">Dealer Login</a>
                <p class="copyright">© 2019 Primary Kitchen. All Rights Reserved.</p>
            </section>
        </div>
    </div>
    <div id="right-section" class="page-col">
        <div class="section-inner">

            <section id="banner-responsive" class="banner-section responsive-section">
                <h1>Lorem ipsum dolor sit amet</h1>
                <a href="#" class="red-underline">Find a Dealer<span class="underline"></span></a>
                <div class="scroll-indicator">
                    <img src="images/scroll-arrow.svg" alt="scroll to continue">
                    <p>Scroll</p>
                </div>
            </section>

            <!--What's editable-->
            <!--Image:-->
                <!--data-width(Image Width relative to right section width)-->
                <!--data-responsive-width(Image Tablet Width relative to right section width)-->
                <!--data-aspect-ratio(Image Aspect Ratio, height is based off of data-width/data-responsive-width and
                data-aspect-ratio)-->
                <!--data-margin-left(Image left spacing)-->
                <!--data-margin-left-responsive(Image left spacing on tablet)-->
                <!--data-mobile-padding(Image in mobile are full width by default. This sets left and right padding)-->

            <!--Red Box:-->
                <!--Allow to control if red box is applied(should be either red box or cta or neither)-->
                <!--inline style:-->
                    <!--width(relative to image width)-->
                    <!--height(relative to image height)-->
                    <!--top(optional, default is 0)-->
                    <!--left(optional, default is 0)-->

            <!--Text CTA:-->
                <!--Allow to control if cta is applied(should be either red box or cta or neither)-->
                <!--inline style:-->
                    <!--top(optional, if cta is on top edge of image, set to 0)-->
                    <!--bottom(optional, if cta is on bottom edge of image, set to 0)-->
                    <!--left(optional, default to 0, space from left)-->

            <div class="product-item banner has-text">
                <div class="product-inner">
                    <div class="image-container">
                        <img src="images/gloss-white-2.jpg" alt="gloss white 2">
                    </div>
                    <div class="text-cnt" style="top: auto; bottom: 0; left: 7%">
                        <p>Product Name</p>
                        <a href="#" class="highlight green">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="product-item" data-width="59%" data-responsive-width="42%"
                 data-aspect-ratio="6:5" data-margin-left="41%" data-margin-left-responsive="58%">
                <div class="product-inner">
                    <div class="image-container">
                        <img src="images/gloss-grey-2.jpg" alt="gloss grey 2">
                    </div>

                    <div class="red-box" style="width: 62%; height: 50%; top: 0; left: 19%">
                        <div class="red-box-inner">
                            <div class="top"></div>
                            <div class="right"></div>
                            <div class="bottom"></div>
                            <div class="left"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-item has-text" data-width="41%" data-responsive-width="34%" data-aspect-ratio="3:4"
                 data-margin-left-responsive="24%" data-mobile-padding="9%">
                <div class="product-inner">
                    <div class="image-container">
                        <img src="images/gloss-pure-white.jpg" alt="gloss pure white">
                    </div>
                    <div class="text-cnt" style="top: auto; bottom: 0; left: 0">
                        <p>Product Name</p>
                        <a href="#" class="highlight green">Learn More</a>
                    </div>
                </div>
            </div>

            <section id="product-benefits-responsive" class="product-benefits-section responsive-section">
                <div class="text-cnt">
                    <h2>Product benefits lorem ipsum</h2>
                    <div class="divider"></div>
                    <p>High-quality finished kitchens, <span class="highlight white">faster</span>.</p>
                    <p>A <span class="highlight white">new kitchen</span> feel that doesn’t fade.</p>
                    <p>Designed to fit <span class="highlight white">your style</span>.</p>
                </div>
            </section>

            <div class="product-item" data-width="100%" data-responsive-width="100%" data-aspect-ratio="4:3">
                <div class="product-inner">
                    <div class="image-container">
                        <img src="images/gloss-soft-white.jpg" alt="gloss soft white">
                    </div>
                    <div class="red-box" style="width: 90%; height: 100%; top: 0; left: 10%">
                        <div class="red-box-inner">
                            <div class="top"></div>
                            <div class="right"></div>
                            <div class="bottom"></div>
                            <div class="left"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-item" data-width="59%" data-responsive-width="42%" data-aspect-ratio="6:5">
                <div class="product-inner">
                    <div class="image-container">
                        <img src="images/gloss-white-3.jpg" alt="gloss white 3">
                    </div>
                    <div class="red-box" style="width: 70%; height: 82%; top: 18%; left: 15%">
                        <div class="red-box-inner">
                            <div class="top"></div>
                            <div class="right"></div>
                            <div class="bottom"></div>
                            <div class="left"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-item has-text" data-width="41%" data-responsive-width="34%" data-aspect-ratio="3:4"
                 data-margin-left="59%" data-margin-left-responsive="42%" data-mobile-padding="9%">
                <div class="product-inner">
                    <div class="image-container">
                        <img src="images/gloss-white-and-stone.jpg" alt="gloss white and stone">
                    </div>
                    <div class="text-cnt" style="top: 0; left: 0">
                        <p>Product Name</p>
                        <a href="#" class="highlight green">Learn More</a>
                    </div>
                </div>
            </div>

            <section id="product-details-responsive" class="product-details-section responsive-section">
                <div class="details-container">
                    <h2>Our products</h2>
                    <p>Short description lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="red-underline">Learn More<span class="underline"></span></a>
                    <a href="#" class="red-underline">Where to Buy<span class="underline"></span></a>
                </div>
                <div class="details-container">
                    <h2>The people behind the products</h2>
                    <p>Short description lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="red-underline">About Us<span class="underline"></span></a>
                </div>
            </section>

            <div class="product-item" data-width="100%" data-responsive-width="100%" data-aspect-ratio="4:3">
                <div class="product-inner">
                    <div class="image-container">
                        <img src="images/gloss-soft-white-and-beige.jpg" alt="gloss soft white and beige">
                    </div>
                </div>
            </div>
            <div class="product-item" data-width="59%" data-responsive-width="42%" data-aspect-ratio="6:5"
                 data-margin-left="41%" data-margin-left-responsive="58%">
                <div class="product-inner">
                    <div class="image-container">
                        <img src="images/woodgrain-durango-matte-black.jpg" alt="wood grain durango matte black">
                    </div>
                    <div class="red-box" style="width: 70%; height: 82%; top: 9%; left: 0%">
                        <div class="red-box-inner">
                            <div class="top"></div>
                            <div class="right"></div>
                            <div class="bottom"></div>
                            <div class="left"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-item" data-width="41%" data-responsive-width="34%" data-aspect-ratio="3:4"
                 data-margin-left-responsive="24%" data-mobile-padding="9%">
                <div class="product-inner">
                    <div class="image-container">
                        <img src="images/matte-black-3.jpg" alt="matte black 3" class="left">
                    </div>
                </div>
            </div>

            <section id="contact-responsive" class="contact-section responsive-section">
                <h2>Contact us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                <a href="#" class="red-underline">Get in Touch<span class="underline"></span></a>
            </section>
        </div>
    </div>
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}