{{>../header/_head additionalClasses="front-page"}}
{{>../header/_header}}

<main class="main" id="main">
    <section id="template-index">
        <ul>
            <li><a href="/home.html" class="highlight green">Homepage</a></li>
            <li><a href="/about.html" class="highlight green">About</a></li>
            <li><a href="/products.html" class="highlight green">Products</a></li>
            <li><a href="/contact.html" class="highlight green">Contact</a></li>
            <li><a href="/where-to-buy.html" class="highlight green">Where to Buy</a></li>
            <li><a href="/default.html" class="highlight green">General Template</a></li>
            <li><a href="/404.html" class="highlight green">404</a></li>
        </ul>
    </section>
</main>
{{> ../footer/_footer}}
{{> ../footer/_foot}}