{{>../header/_head}}
{{>../header/_header}}

<main class="main" id="main">
    <section id="banner">
        <h1>Design locations (global)</h1>
    </section>
    <section id="locations">
        <div class="row">
            <div class="col-xs-5">
                <div class="scrollable">
                    <div class="search-cnt">
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <p>For results search 80205 with 15 mile radius</p>
                        <form method="get" action="/where-to-buy.html">
                            <fieldset class="zip_code_field">
                                <label for="zip-code">Zip Code</label>
                                <input type="text" id="zip-code" name="zip-code" placeholder="12345">
                            </fieldset>
                            <fieldset class="radius_field">
                                <label>Radius</label>
                                <select id="radius" name="radius">
                                    <option value="">Radius</option>
                                    <option value="5">5 Miles</option>
                                    <option value="10">10 Miles</option>
                                    <option value="15">15 Miles</option>
                                    <option value="20">20 Miles</option>
                                    <option value="50">50 Miles</option>
                                </select>
                            </fieldset>
                            <button type="submit" class="red-underline">Submit<span class="underline"></span></button>
                        </form>
                        <div class="form-placeholder"></div>
                        <div class="sticky-trigger"></div>
                    </div>
                    <div class="results hidden tablet-desktop-only">
                        <div class="no-results hidden">
                            <p>There are no locations in your area but here are the closest locations. If this is still
                                too far, please contact us to see if there’s a location coming to your area soon.</p>
                            <a href="#" class="highlight green">Contact Us</a>
                        </div>
                        <div class="zip-radius"></div>
                        <h2>Results</h2>
                        <div class="results-cnt">
                            <div id="location-1" class="location">
                                <div class="pin">
                                    <div class="number">
                                        <p>1</p>
                                        <img src="images/pin-circle.svg" alt="pin">
                                    </div>
                                </div>
                                <div class="text-cnt">
                                    <h3>Name of Location</h3>
                                    <div class="address">
                                        <p>Address Line 1</p>
                                        <p>Address Line 2</p>
                                    </div>
                                    <div class="links">
                                        <a href="tel:###-###-####" class="highlight green">123-456-7890</a>
                                        <a href="https://www.google.com" class="highlight green">Visit Site</a>
                                    </div>
                                </div>
                            </div>
                            <div id="location-2" class="location">
                                <div class="pin">
                                    <div class="number">
                                        <p>2</p>
                                        <img src="images/pin-circle.svg" alt="pin">
                                    </div>
                                </div>
                                <div class="text-cnt">
                                    <h3>Name of Location</h3>
                                    <div class="address">
                                        <p>Address Line 1</p>
                                        <p>Address Line 2</p>
                                    </div>
                                    <div class="links">
                                        <a href="tel:###-###-####" class="highlight green">123-456-7890</a>
                                        <a href="https://www.google.com" class="highlight green">Visit Site</a>
                                    </div>
                                </div>
                            </div>
                            <div id="location-3" class="location">
                                <div class="pin">
                                    <div class="number">
                                        <p>3</p>
                                        <img src="images/pin-circle.svg" alt="pin">
                                    </div>
                                </div>
                                <div class="text-cnt">
                                    <h3>Name of Location</h3>
                                    <div class="address">
                                        <p>Address Line 1</p>
                                        <p>Address Line 2</p>
                                    </div>
                                    <div class="links">
                                        <a href="tel:###-###-####" class="highlight green">123-456-7890</a>
                                        <a href="https://www.google.com" class="highlight green">Visit Site</a>
                                    </div>
                                </div>
                            </div>
                            <div id="location-4" class="location">
                                <div class="pin">
                                    <div class="number">
                                        <p>4</p>
                                        <img src="images/pin-circle.svg" alt="pin">
                                    </div>
                                </div>
                                <div class="text-cnt">
                                    <h3>Name of Location</h3>
                                    <div class="address">
                                        <p>Address Line 1</p>
                                        <p>Address Line 2</p>
                                    </div>
                                    <div class="links">
                                        <a href="tel:###-###-####" class="highlight green">123-456-7890</a>
                                        <a href="https://www.google.com" class="highlight green">Visit Site</a>
                                    </div>
                                </div>
                            </div>
                            <div id="location-5" class="location">
                                <div class="pin">
                                    <div class="number">
                                        <p>5</p>
                                        <img src="images/pin-circle.svg" alt="pin">
                                    </div>
                                </div>
                                <div class="text-cnt">
                                    <h3>Name of Location</h3>
                                    <div class="address">
                                        <p>Address Line 1</p>
                                        <p>Address Line 2</p>
                                    </div>
                                    <div class="links">
                                        <a href="tel:###-###-####" class="highlight green">123-456-7890</a>
                                        <a href="https://www.google.com" class="highlight green">Visit Site</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-7">
                <div id="map"></div>
            </div>
            <div class="col-xs-12 mobile-only">
                <div class="results hidden">
                    <div class="no-results hidden">
                        <p>There are no locations in your area but here are the closest locations. If this is still
                            too far, please contact us to see if there’s a location coming to your area soon.</p>
                        <a href="#" class="highlight green">Contact Us</a>
                    </div>
                    <h2>Results</h2>
                    <div class="results-cnt">
                        <div id="location-1-mobile" class="location">
                            <div class="pin">
                                <div class="number">
                                    <p>1</p>
                                    <img src="images/pin-circle.svg" alt="pin">
                                </div>
                            </div>
                            <div class="text-cnt">
                                <h3>Name of Location</h3>
                                <div class="address">
                                    <p>Address Line 1</p>
                                    <p>Address Line 2</p>
                                </div>
                                <div class="links">
                                    <a href="tel:###-###-####" class="highlight green">123-456-7890</a>
                                    <a href="https://www.google.com" class="highlight green">Visit Site</a>
                                </div>
                            </div>
                        </div>
                        <div id="location-2-mobile" class="location">
                            <div class="pin">
                                <div class="number">
                                    <p>2</p>
                                    <img src="images/pin-circle.svg" alt="pin">
                                </div>
                            </div>
                            <div class="text-cnt">
                                <h3>Name of Location</h3>
                                <div class="address">
                                    <p>Address Line 1</p>
                                    <p>Address Line 2</p>
                                </div>
                                <div class="links">
                                    <a href="tel:###-###-####" class="highlight green">123-456-7890</a>
                                    <a href="https://www.google.com" class="highlight green">Visit Site</a>
                                </div>
                            </div>
                        </div>
                        <div id="location-3-mobile" class="location">
                            <div class="pin">
                                <div class="number">
                                    <p>3</p>
                                    <img src="images/pin-circle.svg" alt="pin">
                                </div>
                            </div>
                            <div class="text-cnt">
                                <h3>Name of Location</h3>
                                <div class="address">
                                    <p>Address Line 1</p>
                                    <p>Address Line 2</p>
                                </div>
                                <div class="links">
                                    <a href="tel:###-###-####" class="highlight green">123-456-7890</a>
                                    <a href="https://www.google.com" class="highlight green">Visit Site</a>
                                </div>
                            </div>
                        </div>
                        <div id="location-4-mobile" class="location">
                            <div class="pin">
                                <div class="number">
                                    <p>4</p>
                                    <img src="images/pin-circle.svg" alt="pin">
                                </div>
                            </div>
                            <div class="text-cnt">
                                <h3>Name of Location</h3>
                                <div class="address">
                                    <p>Address Line 1</p>
                                    <p>Address Line 2</p>
                                </div>
                                <div class="links">
                                    <a href="tel:###-###-####" class="highlight green">123-456-7890</a>
                                    <a href="https://www.google.com" class="highlight green">Visit Site</a>
                                </div>
                            </div>
                        </div>
                        <div id="location-5-mobile" class="location">
                            <div class="pin">
                                <div class="number">
                                    <p>5</p>
                                    <img src="images/pin-circle.svg" alt="pin">
                                </div>
                            </div>
                            <div class="text-cnt">
                                <h3>Name of Location</h3>
                                <div class="address">
                                    <p>Address Line 1</p>
                                    <p>Address Line 2</p>
                                </div>
                                <div class="links">
                                    <a href="tel:###-###-####" class="highlight green">123-456-7890</a>
                                    <a href="https://www.google.com" class="highlight green">Visit Site</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!--Need to replace api key with Primary Kitchen's-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt0e1-Q3IaqhKRRYyIIU7od7Cttcn_5OA&libraries=geometry"></script>
{{> ../footer/_footer}}
{{> ../footer/_foot}}