//
// Name:            Footer
//
// Description:     Contains all footer styles
//
// ========================================================================
// Component: Footer
// =========================================================================
.footer {
  border-top: 2px solid $dark-gray;
  padding: 41px 3.5vw;

  .col-xs-12 {
    padding: 0;
  }

  .logo {
    display: inline-block;
    margin: auto;
    position: relative;

    span {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }

    img {
      max-height: 100%;
    }
  }

  .col-xs-6 {
    padding: 0;

    &.left {
      margin-top: 32px;

      .col-xs-4 {
        display: flex;
        flex-direction: column;
        padding: 0;
      }

      .highlight:nth-child(2) {
        margin-bottom: 0;
      }

      .dealer-login {
        display: none;
      }

      .copyright {
        margin-top: 85px;
      }
    }

    &.right {
      align-items: flex-end;
      -ms-flex-align: end;
      margin-top: 32px;
      text-align: right;
    }
  }

  .highlight {
    @include font-europa-bold;
    font-size: 14px;
    color: $dark-gray;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-right: auto;

    @media (hover: hover) and (pointer: fine) {
      &:hover,
      &:focus {
        background-size: 100% 16px;
      }
    }
  }

  .address {
    p,
    address {
      margin-top: 0;
      font-size: 16px;
      color: #111111;
      line-height: 28px;
    }
  }

  .social-links {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    -ms-flex-align: end;
    justify-content: flex-end;
    list-style: none;
    margin-top: 0;
    padding: 0;

    li {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      -ms-flex-align: center;
      justify-content: center;
      margin-right: 22px;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        -ms-flex-align: center;

        @media (hover: hover) and (pointer: fine) {
          &:hover,
          &:focus {
            svg {
              g {
                fill: $red;
              }
            }
          }
        }
      }

      span {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
      }

      img, svg {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        margin: auto;
      }

      svg {
        g {
          fill: $navy-blue;
          transition: fill .25s ease-in-out;
        }
      }
    }
  }

  .dealer-login {
    margin-bottom: 25px;
  }

  .copyright {
    font-size: 16px;
    color: #111111;
    line-height: 28px;
    margin-top: 0;
  }
}

html.ie {
  .footer .highlight {
    &:hover,
    &:focus {
      background-size: 100% 16px;
    }
  }

  .footer .social-links li svg g:hover,
  .footer .social-links li svg g:focus {
    fill: $red;
  }
}

@media (max-width: 1024px) {
  .footer .col-xs-6.left {
    width: 60%;
    max-width: 60%;
    flex-basis: 60%;
  }

  .footer .col-xs-6.left .col-xs-4 {
    width: 50%;
    max-width: 50%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
  }

  .footer .col-xs-6.left .highlight:nth-child(2) {
    margin-bottom: 30px;
  }

  .footer .col-xs-6.left .dealer-login {
    display: block;
  }

  .footer .col-xs-6.right {
    width: 40%;
    max-width: 40%;
    flex-basis: 40%;
    align-items: flex-start;
    -ms-flex-align: start;
  }

  .footer .col-xs-6.right .col-xs-12:first-child {
    display: none;
  }

  .footer .social-links {
    max-width: 280px;
    justify-content: flex-start;
    align-items: flex-start;
    -ms-flex-align: start;
    margin-left: auto;
  }

  .footer .social-links li {
    margin-bottom: 22px;
  }

  .footer .social-links li:nth-child(3) {
    margin-right: 48px;
  }
}

@media (max-width: 681px) {
  .footer .social-links li:nth-child(3) {
    margin-right: 22px;
  }
}

@media (max-width: 581px) {
  .footer {
    padding: 8.125vw 5.625vw;
  }

  .footer .logo img {
    max-height: 46px;
  }

  .footer .col-xs-6.left,
  .footer .col-xs-6.right {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  .footer .col-xs-6.left .dealer-login,
  .footer .col-xs-6.left .copyright {
    display: none;
  }

  .footer .col-xs-6.left .col-xs-4 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }

  .footer .social-links {
    margin-left: 0;
  }

  .footer .social-links li:nth-child(3) {
    margin-right: 48px;
  }

  .footer .col-xs-6.right {
    text-align: left;
  }
}
