//
// Name:            Header
//
// Description:     Contains all header styles
//
// ========================================================================
// Component: Header
// ========================================================================
header.header {
  width: 100%;
  height: 128px;
  border-bottom: 2px solid $dark-gray;
  display: flex;
  justify-content: space-between;
  -ms-flex-pack: justify;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  z-index: 101;

  .left-col {
    width: 412px;
    height: 100%;
    background: $color-white;
    display: flex;
    justify-content: center;
    -ms-flex-pack: center;
    align-items: center;
    -ms-flex-align: center;
    padding: 0 50px;
    text-align: center;

    .logo {
      display: inline-block;
      margin: auto;
      position: relative;

      span {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
      }

      img {
        max-height: 100%;
      }
    }
  }

  .right-col {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    -ms-flex-pack: end;
    margin-left: auto;
    z-index: 101;

    .dealer-login,
    .return-home {
      height: 100%;
      border-bottom: 2px solid rgba($color-white, .5);
      border-left: 2px solid rgba($color-white, .5);
      display: none;
      justify-content: center;
      align-items: center;
      -ms-flex-align: center;
      padding: 0 2.1vw;
      font-family: $schnyder;
      font-size: 24px;
      font-weight: 400;
      color: $color-white;
      letter-spacing: 0;
      transition: all .25s ease-in-out;

      span {
        margin: auto;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background: $color-white;
          color: $color-black;
        }
      }
    }

    .button-container {
      width: 150px;
      height: 100%;
      position: relative;
      right: 0;

      #hamburger {
        width: 100%;
        height: 100%;
        background: $color-white;
        border-top: 0 solid rgba(0,0,0,0);
        border-bottom: 0 solid rgba(0,0,0,0);
        border-right: 0 solid rgba(0,0,0,0);
        border-left: 2px solid $dark-gray;
        border-radius: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        -ms-flex-pack: center;
        align-items: center;
        -ms-flex-align: center;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .25s ease-in-out;

        span {
          width: 100%;
          height: 100%;
          font-size: 24px;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
        }

        svg {
          margin: auto;

          path {
            transition: all .25s ease-in-out;
          }

          &.close {
            display: none;
          }
        }

        &.open-menu {
          background: transparent;
          border-left-color: rgba($color-white, .5);
          border-bottom: 2px solid rgba($color-white, .5);

          svg {

            &.open {
              display: none;
            }

            &.close {
              display: inline-block;
            }
          }
        }

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background: $dark-gray;

            svg {
              path {
                stroke: $color-white;
                stroke-width: 2px;
              }
            }

            &.open-menu {
              background: $color-white;

              svg {
                path {
                  stroke: $color-black;
                  stroke-width: 2px;
                }
              }
            }
          }
        }
      }

      &.scrolling {
        height: 126px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;

        #hamburger {
          width: 82px;
          height: 82px;
          border-top: 1px solid $dark-gray;
          border-bottom: 1px solid $dark-gray;
          border-right: 1px solid $dark-gray;
          border-left: 1px solid $dark-gray;
          border-radius: 50%;

          &.open-menu {
            width: 100%;
            height: 100%;
            border-left: 2px solid rgba($color-white, .5);
            border-bottom: 2px solid rgba($color-white, .5);
            border-top: none;
            border-right: none;
            border-radius: 0;
          }
        }
      }
    }
  }

  &.in-product-flow {
    .right-col {
      .button-container {
        height: 100%;
        position: relative;

        #hamburger {
          width: 100%;
          height: 100%;
          background: $color-white;
          border-top: 0 solid rgba(0,0,0,0);
          border-bottom: 0 solid rgba(0,0,0,0);
          border-right: 0 solid rgba(0,0,0,0);
          border-left: 2px solid $dark-gray;
          border-radius: 0;
        }
      }
    }
  }

  &.show {
    .left-col {
      width: auto;
    }

    .right-col {
      width: auto;

      .dealer-login {
        display: inline-flex;
      }

      .return-home {
        display: none!important;
      }
    }
  }
}

html.ie {
  header.header {
    .right-col {
      .dealer-login,
      .return-home {
        &:hover {
          background: $color-white;
          color: $color-black;
        }
      }

      .button-container {
        #hamburger {
          &:hover {
            background: $dark-gray;

            svg {
              path {
                stroke: $color-white;
                stroke-width: 2px;
              }
            }

            &.open-menu {
              background: $color-white;

              svg {
                path {
                  stroke: $color-black;
                  stroke-width: 2px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  header.header {
    height: 80px;
    border-bottom: 2px solid $dark-gray;
    position: static;
  }

  header.header .left-col {
    border-bottom: none;
    border-right: none;
    padding: 0;
  }

  header.header .left-col .logo {
    height: 48px;
    margin-left: 10px;
  }

  header.header .right-col {
    width: auto;
    margin-left: 0;
  }

  header.header .right-col .button-container {
    width: 80px;
    padding: 0 10px;
  }

  header.header.scrolling .right-col .button-container:before {
    opacity: 1;
  }

  header.header.scrolling .right-col .button-container #hamburger:before {
    opacity: 0;
  }

  header.header .right-col .button-container #hamburger svg {
    width: 35px;
    height: 35px;
  }

  header.header .right-col .button-container.scrolling #hamburger {
    width: 55px;
    height: 55px;
  }

  header.header .right-col .button-container.scrolling {
    height: 80px;
  }
}

@media (max-width: 581px) {
  header.header {
    height: 68px;
    background: $dark-gray;
  }

  header.header .left-col .logo {
    height: 36px;
  }

  header.header .right-col .button-container {
    width: 68px;
  }

  header.header .right-col .button-container.scrolling {
    height: 68px;
  }

  header.header .right-col .dealer-login {
    height: 100%;
  }

  header.header .right-col .dealer-login, header.header .right-col .return-home {
    font-size: 20px;
    padding: 0 15px;
  }

  header.header .right-col .button-container #hamburger.open-menu svg.close {
    width: 18px;
    height: 18px;
  }

  header.header .right-col .button-container #hamburger.open-menu svg.close g {
    stroke-width: 2px;
  }
}
