//
// Name:            Layout
//
// Description:     Contains all style definitions concerning basic
//					structure and layout
//
// ========================================================================
// Component: Base
// ========================================================================
.main {
  padding: 0;
  position: relative;
  z-index: 99;
}

.row {
  margin: 0;
  padding: 0;
}

#js-modal-page {
  height: 100%;
  overflow: hidden;
}

//Responsive Displays
.tablet-only,
.small-tablet-mobile-only,
.tablet-mobile-only,
.mobile-only {
  display: none !important;
}

@media (max-width: 1024px) {
  .tablet-mobile-only,
  .tablet-only {
    display: block !important;
  }

  .desktop-only,
  .desktop-mobile-only {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .small-tablet-mobile-only {
    display: block!important;
  }
}

@media (max-width: 581px) {
  .tablet-mobile-only,
  .small-tablet-mobile-only,
  .mobile-only {
    display: block !important;
  }

  .tablet-desktop-only,
  .tablet-only {
    display: none !important;
  }
}

// Text alignment
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

//Centered Image Container
.image-container {
  overflow: hidden;
  position: relative;

  img, iframe, video {
    width: auto;
    max-width: none;
    min-width: 100%;
    height: auto;
    max-height: none;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.wh {
      height: 100% !important
    }
    &.ww {
      width: 100% !important
    }

    &.top {
      margin-top: 0 !important;
    }

    &.left {
      margin-left: 0 !important;
    }
  }
}

.hidden {
  display: none !important;
}

//Underlined Links
.red-underline {
  background: none;
  border: none;
  cursor: pointer;
  font-family: $schnyder;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  padding-bottom: 8px;
  -webkit-appearance: none;

  .underline {
    width: 100%;
    height: 1px;
    background: $red;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

//Text Backgrounds
.highlight {
  position: relative;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 4px;
  border: none;
  text-transform: uppercase;
  transition: all .4s ease-in-out;
  -webkit-appearance: none;

  &.white {
    background-image: linear-gradient(0deg, $color-white 100%, transparent 100%);
  }

  &.green {
    background-image: linear-gradient(0deg, $lt-green 100%, transparent 100%);
  }

  &.grow {
    background-size: 100% 100px;
  }
}

a.highlight {
  @media (hover: hover) and (pointer: fine) {
    &:hover,
    &:focus {
      background-size: 100% 50px;
      color: $color-black!important;
    }
  }
}

html.ie {
  a.highlight:hover, a.highlight:focus {
    background-size: 100% 50px;
    color: $color-black!important;
  }
}

//Template list(frontend only, can delete from wordpress theme)
#template-index {
  width: 100vw;
  min-height: 100vh;
  padding: 150px 3.5vw;

  li {
    margin-bottom: 15px;
  }

  .highlight {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-size: 100% 30px;
      }
    }
  }
}

@media (max-width: 1024px) {
  #template-index {
    padding: 75px 3.5vw;
  }
}