//
// Name:            Navigation
//
// Description:     Contains all navigation styles
//
// ========================================================================
// Component: Navigation
// ========================================================================
#menu {
  width: 100vw;
  height: 100vh;
  background: $color-white;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100vw);
  z-index: 100;

  .background {
    width: 100%;
    height: 100%;
    background: $dark-gray;
    position: absolute;
    top: 0;
    left: 0;
  }

  #menu-container {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
    transform: scale(1);
    transition: transform 1s ease-in-out .1s;
  }

  .swiper-container {
    margin-top: 0;
    overflow: visible;
    transition: margin-top 1s ease-in-out;

    .swiper-wrapper {
      height: auto;

      .swiper-slide {
        width: 100vw;
        text-align: center;

        .nav-item {
          width: 100%;

          &.clicked {
            .iframe-container:before {
              opacity: 0!important;
            }
          }
        }

        .iframe-container {
          width: 100%;
          height: 105vh;
          padding: 0;
          position: relative;
          transform: scale(1);
          transform-origin: 50% 100%;
          transition: padding 1s ease-in-out, transform 1s ease-in-out;

          iframe {
            width: 100%;
            height: 100%;
            filter: grayscale(0);
            pointer-events: none;
            position: relative;
            transition: filter .25s ease-in-out;

            &.delay {
              transition-delay: 1s, 0s;

              &:before {
                transition-delay: 1s;
              }
            }
          }

          &:before {
            content: '';
            width: calc(100% + 1px);
            height: calc(100% + 1px);
            background: rgba($dark-gray, .7);
            display: block;
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity .25s ease-in-out;
            z-index: 1;
          }
        }

        a {
          display: inline-block;
        }

        h2 {
          font-family: $schnyder;
          font-size: calc(48px * 100 / 50);
          font-weight: 400;
          color: $color-black;
          line-height: calc(58px * 100 / 50);
          margin-top: calc(25px * 100 / 50);
          opacity: 0;
          text-align: center;
          transition: opacity .25s ease-in-out;

          &.delay {
            transition-delay: 1s;
          }
        }

        &.swiper-slide-active {
          .nav-item {
            pointer-events: auto;
          }

          h2 {
            color: $color-white;
          }
        }
      }
    }

    .swiper-navigation {
      margin-top: calc(15px * 100 / 50);
      text-align: center;

      .swiper-button-prev,
      .swiper-button-next {
        width: calc(36px * 100 / 50);
        height: calc(36px * 100 / 50);
        background: none;
        border: none;
        display: inline-block;
        position: relative;
        top: 0;
        bottom: auto;
        left: 0;
        right: auto;

        span {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
        }

        img {
          width: 100%;
        }
      }

      .swiper-button-prev {
        margin-right: 24px;

        img {
          transform: rotate(180deg);
        }
      }
    }

    &.swiper-container-horizontal > .swiper-scrollbar {
      width: calc(400px * 100 / 50);
      height: 2px;
      background: #DEE6E6;
      border-radius: 0;
      position: relative;
      margin: calc(50px * 100 / 50) auto 0;

      .swiper-scrollbar-drag {
        height: 6px;
        background: $color-white;
        border-radius: 3px;
        top: -2px;
      }
    }
  }

  &.show {
    #menu-container {
      transform: scale(.5);
    }

    .swiper-container {
      margin-top: -3%;

      .swiper-wrapper {
        .swiper-slide {
          .iframe-container {
            transform: scale(.9);

            iframe {
              filter: grayscale(100%);
            }
          }

          h2 {
            opacity: 1;
          }

          &.swiper-slide-active {
            @media (hover: hover) and (pointer: fine) {
              .iframe-container {
                &:hover {
                  padding: 0;
                  transform: scale(1);

                  iframe {
                    filter: grayscale(0);
                  }

                  &:before {
                    opacity: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

html.ie {
  #menu.show {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide.swiper-slide-active {
          .iframe-container {
            &:hover {
              transform: scale(1);

              iframe {
                filter: grayscale(0);
              }

              &:before {
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #menu.show .swiper-container {
    margin-top: -5%;
  }
}

@media (max-width: 581px) {
  #menu.show {
    height: 100%;
    min-height: 100vh;
  }
  #menu #menu-container {
    height: calc(100vh - 64px);
    overflow: scroll;
    transform: none!important;
    margin-top: 64px;
  }

  #menu .swiper-container {
    height: auto;
    margin-top: 0;
    padding: 60px 7vw 100px;
  }

  #menu .swiper-container .swiper-wrapper .swiper-slide .iframe-container {
    display: none;
  }

  #menu .swiper-container .swiper-wrapper {
    flex-direction: column;
  }

  #menu .swiper-container .swiper-wrapper .swiper-slide {
    width: auto;
    text-align: left;
  }

  #menu .swiper-container .swiper-wrapper .swiper-slide:last-child h2 {
    margin-bottom: 0;
  }

  #menu .swiper-container .swiper-wrapper .swiper-slide h2 {
    color: $color-white;
    font-size: 48px;
    line-height: 48px;
    margin: 0 0 40px;
    text-align: left;
  }

  #menu .swiper-container .swiper-navigation {
    display: none;
  }
}