<svg width="12px" height="26px" viewBox="0 0 12 26">
    <desc>Facebook</desc>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-18.000000, -11.000000)" fill="#2F3D4C">
            <path d="M21.0632177,36.5 L21.0632177,24.7685762 L18,24.7685762 L18,20.5450489 L21.0632177,20.5450489 L21.0632177,
            16.9379159 C21.0632177,14.102809 22.8726814,11.5 27.0420189,11.5 C28.730347,11.5 29.9780442,11.6632985 29.9780442,
            11.6632985 L29.8803785,15.6077617 C29.8803785,15.6077617 28.6069401,15.5947284 27.2176656,15.5947284 C25.7148265,
            15.5947284 25.4733123,16.2962219 25.4733123,17.4615444 L25.4733123,20.5450489 L30,20.5450489 L29.8031546,
            24.7685762 L25.4733123,24.7685762 L25.4733123,36.5 L21.0632177,36.5 Z"></path>
        </g>
    </g>
</svg>