<svg width="24px" height="27px" viewBox="0 0 24 27">
    <desc>Houzz</desc>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-14.000000, -10.000000)" fill="#2F3D4C">
            <polygon points="14.8472868 10.8086967 14.8472868 36.3086967 23.3423583 36.3086967 23.3423583 27.8863869 28.6382567 27.8863869 28.6382567 36.3086967 37.1666609 36.3086967 37.1666609 21.5399467 20.7276122 16.7064018 20.7276122 10.8086967"></polygon>
        </g>
    </g>
</svg>