<svg width="26px" height="26px" viewBox="0 0 26 26" version="1.1">
    <desc>Instagram</desc>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="icon-/-social-/-Instagram" transform="translate(-11.000000, -11.000000)" fill="#2F3D4C">
            <path d="M19.1676584,11.25 L28.8323416,11.25 C32.8639219,11.25 36.1428571,14.6034312 36.1428571,18.7266074 L36.1428571,
            29.2733926 C36.1428571,33.3965688 32.8639219,36.75 28.8323416,36.75 L19.1676584,36.75 C15.1360781,36.75 11.8571429,
            33.3965688 11.8571429,29.2733926 L11.8571429,18.7266074 C11.8571429,14.6034312 15.1360781,11.25 19.1676584,
            11.25 Z M14.4968774,29.2733926 C14.4968774,31.9074885 16.5928611,34.0502918 19.1676584,34.0502918 L28.8323416,
            34.0502918 C31.4071389,34.0502918 33.5031226,31.9074885 33.5031226,29.2733926 L33.5031226,18.7266074 C33.5031226,
            16.0925115 31.4071389,13.9497082 28.8323416,13.9497082 L19.1676584,13.9497082 C16.5928611,13.9497082 14.4968774,
            16.0925115 14.4968774,18.7266074 L14.4968774,29.2733926 Z M29.0553185,17.2455286 C29.0553185,16.40297 29.7226847,
            15.7212416 30.5457436,15.7212416 C31.3680202,15.7212416 32.0361688,16.40297 32.0361688,17.2455286 C32.0361688,
            18.087287 31.3680202,18.7706156 30.5457436,18.7706156 C29.7226847,18.7706156 29.0553185,18.087287 29.0553185,
            17.2455286 Z M19.1942592,18.8298268 C20.4656192,17.5671891 22.1086075,16.8782594 23.847828,16.8782594 C23.9143299,
            16.8782594 23.9808318,16.8790596 24.0473337,16.88146 C26.1832185,16.9454721 27.9639049,17.6912125 29.1984932,
            19.0386661 C30.3712739,20.3197072 30.9690087,22.0352302 30.9267605,24.0012002 C30.8868593,25.8855549 30.1600326,
            27.649887 28.8792841,28.9701356 C27.5781938,30.3119881 25.8460147,31.0505272 24.0003912,31.0505272 C20.1800522,
            31.0505272 17.0724572,27.8731291 17.0724572,23.9651934 C17.0724572,22.0408312 17.845444,20.1684788 19.1942592,
            18.8298268 Z M20.2989732,23.9651934 C20.2989732,26.0519863 21.9591738,27.750706 24.0003912,27.750706 C26.0298729,
            27.750706 27.655649,26.0727902 27.7010268,23.9291867 C27.718239,23.1722442 27.5821057,22.1000424 26.8443257,
            21.2942907 C26.2106016,20.6029606 25.2107259,20.2180881 23.9526663,20.1796809 C23.9198065,20.1788807 23.8861644,
            20.1788807 23.8533046,20.1788807 C22.9582672,20.1788807 22.1062604,20.5373482 21.4428061,21.1966723 C20.7159793,
            21.9184082 20.2989732,22.9273981 20.2989732,23.9651934 Z"></path>
        </g>
    </g>
</svg>