<svg width="26px" height="26px" viewBox="0 0 26 26">
    <desc>LinkedIn</desc>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-11.000000, -11.000000)" fill="#2F3D4C">
            <path d="M12.3679739,19.6060635 L17.1432267,19.6060635 L17.1432267,36.2484313 L12.3679739,36.2484313 L12.3679739,
            19.6060635 Z M14.6338782,17.5243949 L14.5993062,17.5243949 C12.8707079,17.5243949 11.75,16.252177 11.75,
            14.6411192 C11.75,12.9971187 12.9038394,11.75 14.6670096,11.75 C16.4287394,11.75 17.5119944,12.9939813 17.5465663,
            14.6364131 C17.5465663,16.2474709 16.4287394,17.5243949 14.6338782,17.5243949 L14.6338782,17.5243949 Z M36.25,
            36.25 L30.8351658,36.25 L30.8351658,27.636253 C30.8351658,25.3820271 29.9881526,23.8446984 28.125588,
            23.8446984 C26.7009349,23.8446984 25.9086606,24.881611 25.539893,25.884012 C25.4016051,26.2416763 25.4232126,
            26.7420925 25.4232126,27.2440773 L25.4232126,36.25 L20.0587959,36.25 C20.0587959,36.25 20.1279398,
            20.9927968 20.0587959,19.6060635 L25.4232126,19.6060635 L25.4232126,22.2179536 C25.7401223,21.075938 27.4543156,
            19.4460558 30.1898224,19.4460558 C33.5836371,19.4460558 36.25,21.841465 36.25,26.9946536 L36.25,36.25 L36.25,
            36.25 Z"></path>
        </g>
    </g>
</svg>