<svg width="20px" height="26px" viewBox="0 0 20 26">
    <desc>Pinterest</desc>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-14.000000, -11.000000)" fill="#2F3D4C">
            <path d="M14,20.3291817 C14,22.8981938 14.9669398,25.18331 17.0394195,26.0349978 C17.3793975,26.1744843 17.6835025,
            26.0399209 17.7821532,25.6608459 C17.850638,25.3991037 18.0128817,24.7377739 18.0846276,24.462083 C18.1840936,
            24.0879311 18.1457747,23.9566498 17.8710203,23.6300874 C17.2742245,22.9203475 16.8918511,22.0021985 16.8918511,
            20.700872 C16.8918511,16.9273534 19.697281,13.5484994 24.1985243,13.5484994 C28.1836859,13.5484994 30.3727528,
            15.9993583 30.3727528,19.2715462 C30.3727528,23.5775749 28.4788227,27.2124275 25.6685011,27.2124275 C24.1153642,
            27.2124275 22.953569,25.9201266 23.3261587,24.3357247 C23.7721251,22.4436321 24.6355224,20.4013864 24.6355224,
            19.0360603 C24.6355224,17.8135026 23.9832865,16.7944311 22.6347886,16.7944311 C21.0482247,16.7944311 19.7722881,
            18.4461147 19.7722881,20.6590261 C19.7722881,22.0694802 20.2459745,23.0220906 20.2459745,23.0220906 C20.2459745,
            23.0220906 18.621907,29.9480029 18.337369,31.1607144 C17.7707391,33.5762915 18.2525784,36.5366862 18.2933431,
            36.8353513 C18.3169867,37.0125811 18.5428234,37.0552475 18.6455505,36.9215046 C18.7923036,36.7286851 20.681342,
            34.3803898 21.325425,32.034556 C21.5064204,31.3699441 22.3681872,27.929552 22.3681872,27.929552 C22.8842689,
            28.9190852 24.3909339,29.7904652 25.9929885,29.7904652 C30.7640944,29.7904652 34,25.4138729 34,19.5554422 C34,
            15.1255168 30.2716563,11 24.6053565,11 C17.5555012,11 14,16.0871527 14,20.3291817 Z"></path>
        </g>
    </g>
</svg>