<svg width="26px" height="22px" viewBox="0 0 26 22">
    <desc>Twitter</desc>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-11.000000, -13.000000)" fill="#2F3D4C">
            <path d="M33.8233492,16.4676794 C34.9125695,15.7803193 35.7483424,14.6904081 36.1405824,13.3920614 C35.1207584,
            14.030097 33.9938227,14.4915192 32.7914562,14.7413237 C31.8319768,13.6593681 30.4606454,12.9847369 28.9429784,
            12.9847369 C26.0313506,12.9847369 23.6718762,15.474826 23.6718762,18.5456707 C23.6718762,18.9816352 23.715626,
            19.4064619 23.8061429,19.8121952 C19.4251238,19.579893 15.5404391,17.3682484 12.9380776,14.001457 C12.4839843,
            14.8256526 12.2245025,15.7803193 12.2245025,16.7986305 C12.2245025,18.7270574 13.1553182,20.4295464 14.5703994,
            21.4287642 C13.7059628,21.4001242 12.8928191,21.1471376 12.1807527,20.7334486 L12.1807527,20.8018664 C12.1807527,
            23.4972088 13.9971256,25.745449 16.4124188,26.2546046 C15.9688859,26.3850757 15.5042324,26.4503113 15.0214755,
            26.4503113 C14.682037,26.4503113 14.3501416,26.416898 14.0303151,26.3516624 C14.7001404,28.5601248 16.6477629,
            30.1703294 18.9559444,30.2132894 C17.1501318,31.7057517 14.8766484,32.5935918 12.407045,32.5935918 C11.9816154,
            32.5935918 11.5607117,32.5697251 11.1488597,32.5172185 C13.4826877,34.0940097 16.2540142,35.0152631 19.232021,
            35.0152631 C28.932418,35.0152631 34.2336926,26.5410046 34.2336926,19.1916618 C34.2336926,18.9498129 34.2306753,
            18.7095551 34.220115,18.4724796 C35.2504993,17.6880617 36.1466169,16.7079372 36.8511403,15.5925682 C35.9052384,
            16.0348971 34.8884316,16.3340261 33.8233492,16.4676794 Z"></path>
        </g>
    </g>
</svg>