<svg width="26px" height="24px" viewBox="0 0 26 24">
    <desc>Vimeo</desc>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-11.000000, -12.000000)" fill="#2F3D4C">
            <path d="M31.3926281,28.3525982 C27.9941388,32.9518881 25.1145364,35.25 22.7611708,35.25 C21.3059353,
            35.25 20.07266,33.8518159 19.0657546,31.046249 C18.3910545,28.4721798 17.7207642,25.8981105 17.0475341,
            23.3317067 C16.2978673,20.5246068 15.4952829,19.1218234 14.6368409,19.1218234 C14.4501592,19.1218234 13.7989781,
            19.5311602 12.6759479,20.3513669 L11.5,18.7707442 C12.7318054,17.6439182 13.9459716,16.5124929 15.1439685,
            15.3841338 C16.7844157,13.9031624 18.0176911,13.1258824 18.8408546,13.0446283 C20.7811685,12.8483919 21.9776955,
            14.2327782 22.4289655,17.1931878 C22.9096342,20.3896943 23.2477192,22.3765875 23.4344009,23.1554006 C23.995916,
            25.8045916 24.6103488,27.1261209 25.2835789,27.1261209 C25.8054058,27.1261209 26.590351,26.270653 27.6369446,
            24.5581841 C28.6835382,22.8426489 29.2406435,21.5395168 29.3170801,20.6411221 C29.4670135,19.1601508 28.9069683,
            18.4242644 27.6369446,18.4242644 C27.0386811,18.4242644 26.4213085,18.5561107 25.7877666,18.8320681 C27.0225119,
            14.6635784 29.3744076,12.6368246 32.8493335,12.754873 C35.4231894,12.8299948 36.6388255,14.5654602 36.4874223,
            17.9520706 C36.3786471,20.4878125 34.6764625,23.954144 31.3926281,28.3525982 Z"></path>
        </g>
    </g>
</svg>