<svg width="28px" height="20px" viewBox="0 0 28 20">
    <desc>Youtube</desc>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-10.000000, -14.000000)" fill="#2F3D4C">
            <path d="M21.3035163,27.41146 L21.3020852,20.020684 L28.3586654,23.7297639 L21.3035163,27.41146 Z M36.7969387,
            18.7408461 C36.7969387,18.7408461 36.5422092,16.9277423 35.7587012,16.1300055 C34.7655423,15.0822102 33.6528894,
            15.0771658 33.1419993,15.0159123 C29.4877755,14.75 24.0053665,14.75 24.0053665,14.75 L23.993918,14.75 C23.993918,
            14.75 18.5122245,14.75 14.8565696,15.0159123 C14.346395,15.0771658 13.2337422,15.0822102 12.2398677,
            16.1300055 C11.4570753,16.9277423 11.2023458,18.7408461 11.2023458,18.7408461 C11.2023458,18.7408461 10.9411765,
            20.8695855 10.9411765,22.9976044 L10.9411765,24.9937481 C10.9411765,27.1224875 11.2023458,29.2505064 11.2023458,
            29.2505064 C11.2023458,29.2505064 11.4570753,31.0628895 12.2398677,31.861347 C13.2337422,32.9091423 14.5388732,
            32.8759933 15.1198855,32.985529 C17.20924,33.1880259 23.9996422,33.25 23.9996422,33.25 C23.9996422,33.25 29.4877755,
            33.2413524 33.1419993,32.9754402 C33.6528894,32.9141867 34.7655423,32.9091423 35.7587012,31.861347 C36.5422092,
            31.0628895 36.7969387,29.2505064 36.7969387,29.2505064 C36.7969387,29.2505064 37.0588235,27.1224875 37.0588235,
            24.9937481 L37.0588235,22.9976044 C37.0588235,20.8695855 36.7969387,18.7408461 36.7969387,18.7408461 L36.7969387,
            18.7408461 Z"></path>
        </g>
    </g>
</svg>