//
// Name:            Fonts
//
// Description:     Contains all fonts
//
// ========================================================================
// Component: Fonts
// ========================================================================

@font-face {
  font-family: 'Schnyder';
  font-display: swap;
  src: url('../fonts/SchnyderS-Demi.ttf'), url('../fonts/SchnyderS-Demi.woff');
  font-weight: normal;
  font-style: normal;
}

//Typekit Fonts
@mixin font-europa-regular {
  font-family: europa, sans-serif;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@mixin font-europa-bold {
  font-family: europa, sans-serif;
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}