//
// Component:       Variables
// Description:     Defines all color and style related values as variables
//                  to allow easy customization for the most common cases.
//
// ========================================================================
// ========================================================================
// Component: Variables
// ========================================================================
//Fonts
$schnyder: 'Schnyder', serif;

// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$red: #D00000;
$dark-green: #9FABAC;
$lt-green: #DEE6E6;
$dark-gray: #3D4147;
$navy-blue: #2F3D4C;