<footer id="footer" class="footer">
    <div class="row">
        <div class="col-xs-12">
            <a href="/" class="logo">
                <span>Primary Kitchen</span>
                <img src="images/pk-logo.svg" alt="Primary Kitchen">
            </a>
        </div>
        <div class="col-xs-6 row left">
            <div class="col-xs-4">
                <a href="tel:###-###-####" class="highlight green">123.456.7890</a>
                <a href="mailto:email@email.com" class="highlight green">email@email.com</a>
                <a href="#" class="dealer-login highlight green">Dealer Login</a>
            </div>
            <div class="col-xs-4">
                <div class="address">
                    <p>1234 Street Name</p>
                    <p>Denver, CO 12345</p>
                </div>
            </div>
            <div class="col-xs-12">
                <p class="copyright">© 2019 Primary Kitchen. All Rights Reserved.</p>
            </div>
        </div>
        <div class="col-xs-6 row right">
            <div class="col-xs-12">
                <a href="#" class="dealer-login highlight green">Dealer Login</a>
            </div>
            <div class="col-xs-12">
                <ul class="social-links">
                    <li>
                        <a href="#" target="_blank">
                            <span>facebook</span>
                            {{>../modules/social-icons/_facebook}}
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>twitter</span>
                            {{>../modules/social-icons/_twitter}}
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>youtube</span>
                            {{>../modules/social-icons/_youtube}}
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>linkedin</span>
                            {{>../modules/social-icons/_linkedin}}
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>vimeo</span>
                            {{>../modules/social-icons/_vimeo}}
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>pinterest</span>
                            {{>../modules/social-icons/_pinterest}}
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>houzz</span>
                            {{>../modules/social-icons/_houzz}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 mobile-only">
                <a href="#" class="dealer-login highlight green">Dealer Login</a>
                <p class="copyright">© 2019 Primary Kitchen. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>